<section class="authntication-section">
  <div class="authntication-inner">
      <div class="container">
	  	  

    <div class="main-middle-area">
        <div class="container container-1000">

            <div class="page-header">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="title-div">
                           
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="common-forms-root">
                <div class="common-forms-inner">
                        
                    <div class="empty-stats-card-root">

                        <div class="row grid-row">
                            <div class="col-lg-12 plr-10">
                                
                                
                                <div class="empty-stats-content-div">
                                    <h3>Welcome to MySafetyNet</h3>
                                    <p>Your profile and uploaded document is under verification,
									After successfully verification your profile will go live and you will get notification email with badgeID.
									</p>
                                    
                                </div>

                            </div>
                        </div>

                    </div>

                    

                </div>
            </div>

        </div>
    </div>  
	
</div>
</div>
</section>