.empty-stats-card-root h3 {
    padding: 0;
    margin: 0 0 15px 0;
    font-weight: 500;
    font-size: 32px;
    color: #424242;
    letter-spacing: -0.16px;
    text-align: center;
}

.empty-stats-card-root p {
    padding: 0;
    margin: 0 0 15px 0;
    font-size: 24px;
    font-weight: 400;
    color: rgba(114, 114, 114, 0.6);
    text-align: center;
    line-height: 38px;
}

.empty-stats-card-root .empty-stats-image-div {
    padding: 0;
    margin: 40px auto 60px auto;
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}