<header class="header-root">
        <div class="header-div header-main clearfix" id="header-main">
            <div class="inner-top-header-div clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="header-container">

                                <div class="logo-div">
                                    <a class="logo_link clearfix" href="javascript:void(0)" (click)="gotoRoute('/',false)">
                                        <img src="assets/images/logo-icon.png" class="img-fluid logo_img main-logo" alt="logo" />
                                    </a>
                                </div>

                                <nav class="nav-center-div">
                                    <div class="top-nav1">
                                        <div class="cd-shadow-layer"></div>
                                        <div class="nav-m-bar"><a onclick="openNav()" class="opennav" data-placement="bottom" title="" data-original-title="Menu">
                                            <i class="menu-bars"><img src="assets/images/icons/menu-white.svg" alt="menu" /></i></a>
                                        </div>
                                        <div class="nav-div clearfix" id="mySidenav" >
                                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                            <ul class="nav ullist-inline" id="nav-res" >
                                                <li><a href="javascript:void(0)" (click)="gotoRoute('features',false)" class="nav-link">FEATURES</a> </li>
                                                <li><a href="javascript:void(0)" (click)="gotoRoute('pricing',false)" class="nav-link">PRICING</a>
                                                <li><a href="javascript:void(0)" (click)="gotoRoute('blogs',false)" class="nav-link">BLOG</a></li>
                                                <li><a href="javascript:void(0)" (click)="gotoRoute('about',false)" class="nav-link">ABOUT</a></li>
                                                <li><a href="javascript:void(0)" (click)="gotoRoute('contact',false)" class="nav-link">CONTACT US</a></li>
                                                <li><a href="javascript:void(0)" (click)="gotoRoute('sign-in',false)" class="nav-link">LOGIN</a></li>
                                                <li>
                                                    <a href="javascript:void(0)" (click)="gotoRoute('sign-up',false)" class="nav-link btn-white-rounded">SIGN UP</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>	
        </div><!--  End of header with navigation div  -->
    </header>

    <section class="banner-section">
        <div class="banner-div">
            <div class="container">
                <div class="row">

                    <div class="col-lg-7 col-md-6 bannerleft-6">        

                        <div class="height-100">

                            <div class="content-banner wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.5s">
                                <div class="text-content" >
                                    <h1>MYSAFETYNET</h1>
                                    <h4>Smart Safety Application</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et felis auctor, posuere ex quis, varius quam. In lacinia velit fermentum massa tempor, ultrices finibus arcu interdum. </p>
                                    <div class="btn-row-banner">
                                        <button class="btn white-btn">Download for free</button>
                                    </div>
                                    <div class="store-icon-div">
                                        <a href="javascript:void(0)" class="btn btn-store mr-30">
                                            <img src="assets/images/app-store-black.png" class="img-store-icon" alt="app-store" />
                                        </a>
                                        <a href="javascript:void(0)" class="btn btn-store">
                                            <img src="assets/images/google-play-black.png" class="img-store-icon" alt="google-play" />    
                                        </a>
                                    </div>
                                </div>
                               
                            </div>

                        </div>

                    </div>  

                    <div class="col-lg-5 col-md-6 bannerright-6">     
                        <div class="height-100">
                            <div class="side-img-banner wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.5s">
                                <img src="assets/images/app1.png" class="img-app" alt="app" />
                            </div>
                        </div>   
                    </div>
                    
                </div>        
            </div>
        </div>
    </section><!--  end of banner  -->
    
    <div class="main-middle-area">
        
        <section class="why-choose-section">
            <div class="container">
                <div class="why-choose-div">
                    
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="header-common-div minus-t-100 wow fadeInLeft" data-wow-duration="2s">
                                <h5>WHY CHOOSE  US </h5>
                                <h3>Lorem ipsum dolor sit amet, <span class="span-block">consectetur adipiscing elit</span></h3>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-20">

                        <div class="col-lg-3 col-md-6">

                            <div class="card-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                                <div class="icon-div">
                                    <img src="assets/images/icons/monitor.png" class="img-fluid img-icon" alt="Monitor" />
                                </div>
                                <div class="content-div">
                                    <h4>Monitor</h4>
                                    <p>Phasellus vel viverra felis. Integer id augue sed est interdum porttitor. Fusce hendrerit accumsan magna nec placerat. Aliquam tristique tincidunt turpis iaculis finibus</p>
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-lg-3 col-md-6">

                            <div class="card-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                                <div class="icon-div">
                                    <img src="assets/images/icons/risk.png" class="img-fluid img-icon" alt="Risk Detection" />
                                </div>
                                <div class="content-div">
                                    <h4>Risk Detection</h4>
                                    <p>Phasellus vel viverra felis. Integer id augue sed est interdum porttitor. Fusce hendrerit accumsan magna nec placerat. Aliquam tristique tincidunt turpis iaculis finibus</p>
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-lg-3 col-md-6">

                            <div class="card-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.75s">
                                <div class="icon-div">
                                    <img src="assets/images/icons/security.png" class="img-fluid img-icon" alt="Monitor" />
                                </div>
                                <div class="content-div">
                                    <h4>Security Alert</h4>
                                    <p>Phasellus vel viverra felis. Integer id augue sed est interdum porttitor. Fusce hendrerit accumsan magna nec placerat. Aliquam tristique tincidunt turpis iaculis finibus</p>
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-lg-3 col-md-6">

                            <div class="card-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                                <div class="icon-div">
                                    <img src="assets/images/icons/cal.png" class="img-fluid img-icon" alt="Monitor" />
                                </div>
                                <div class="content-div">
                                    <h4>Safe Schedule</h4>
                                    <p>Phasellus vel viverra felis. Integer id augue sed est interdum porttitor. Fusce hendrerit accumsan magna nec placerat. Aliquam tristique tincidunt turpis iaculis finibus</p>
                                </div>
                            </div>
                            
                        </div>

                    </div>        

                </div>
            </div>
        </section>

        <section class="video-content-section">
            <div class="container">
                <div class="video-content-div">
                
                    <div class="row mt-20">

                        <div class="col-lg-6 col-md-6">

                            <div class="card-box card-box2 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.75s">
                                <div class="content-div">
                                    <div class="header-left-common-div">
                                        <h6>DONEC ET MI MOLLIS</h6>
                                        <h3>Sed non sapien non nisi volutpat elementum at quis velit. </h3>
                                    </div>
                                    <div class="prag-content-div"> 
                                        <p>Sed finibus sem risus, non commodo orci venenatis vitae. Quisque nec est euismod, molestie dolor eu, mollis sapien. Sed nec scelerisque purus, facilisis semper magna. Donec lacinia quam accumsan sapien dapibus, ut viverra tellus tincidunt. </p>
                                    </div>
                                    <div class="btn-link-row-div">
                                        <a href="#" class="btn btn-default btn-arrow-link">Find out more <i class="material-icons ml-10">keyboard_backspace</i> </a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-lg-6 col-md-6">

                            <div class="video-play-div wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                                <div class="video-img-div">
                                    <img src="assets/images/video-img.jpg" class="img-fluid img-video" alt="Video" />
                                </div>
                                <div class="center-video-btn">
                                    <button class="btn btn-video-round">
                                        <i class="material-icons">play_arrow</i>
                                    </button>
                                </div>
                            </div>
                            
                        </div>


                    </div>        

                </div>
            </div>
        </section>

        <section class="slider-mobile-section">
            <div class="container">
                <div class="slider-mobile-div">
                
                    <div class="row mt-20">

                        <div class="col-lg-4 col-md-4">

                            <div class="card-box card-box-white wow fadeInUp" data-wow-duration="1s">
                                <div class="content-div">
                                    <div class="header-left-common-div">
                                        <h5>MAURIS VEHICULA</h5>
                                        <h3>vulputate suscipit, dui mi consectetur purus, sit amet sodales arcu nunc id justo.</h3>
                                    </div>
                                    <div class="prag-content-div"> 
                                        <p>Aenean vel suscipit ante. Ut ac magna vel purus facilisis lobortis non quis ex. Sed eget egestas libero. Suspendisse facilisis non dui eu viverra. Nam aliquam nibh lorem, id venenatis turpis luctus nec. Sed nec lobortis est.</p>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-lg-8 col-md-8">

                            <div class="slider-owl-div wow fadeInUp" data-wow-duration="1s">
                                <div class="owl-carousel owl-theme owl-app" id="owl-app">
                                    <div class="item">  
                                        <div class="col-lg-12 col-md-12">
            
                                            <div class="app-box-div">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 p0">
                                                        <div class="app-thumb fadeInUp">
                                                            <img src="assets/images/app-2.png" class="app-img" alt="app" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 p0">
                                                        <div class="app-desc">
                                                            <h4>Aliquam neque</h4>
                                                            <p>Donec non sem mi. Integer suscipit elit vel egestas convallis. Aliquam turpis elit, blandit eget orci quis, blandit consequat nisl. Curabitur gravida, augue varius placerat volutpat, tortor quam euismod dui, id mollis mauris risus vel nunc.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
            
                                        </div>
                                    </div>
                                    <div class="item">  
                                        <div class="col-lg-12 col-md-12">
            
                                            <div class="app-box-div">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 p0">
                                                        <div class="app-thumb">
                                                            <img src="assets/images/app-2.png" class="app-img" alt="app" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 p0">
                                                        <div class="app-desc">
                                                            <h4>Aliquam neque</h4>
                                                            <p>Donec non sem mi. Integer suscipit elit vel egestas convallis. Aliquam turpis elit, blandit eget orci quis, blandit consequat nisl. Curabitur gravida, augue varius placerat volutpat, tortor quam euismod dui, id mollis mauris risus vel nunc.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
            
                                        </div>
                                    </div>
                                    <div class="item">  
                                        <div class="col-lg-12 col-md-12">
            
                                            <div class="app-box-div">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 p0">
                                                        <div class="app-thumb">
                                                            <img src="assets/images/app-2.png" class="app-img" alt="app" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 p0">
                                                        <div class="app-desc">
                                                            <h4>Aliquam neque</h4>
                                                            <p>Donec non sem mi. Integer suscipit elit vel egestas convallis. Aliquam turpis elit, blandit eget orci quis, blandit consequat nisl. Curabitur gravida, augue varius placerat volutpat, tortor quam euismod dui, id mollis mauris risus vel nunc.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>


                    </div>        

                </div>
            </div>
        </section>

        <section class="flow-section">
            <div class="container">
                <div class="flow-div">
                    
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="header-common-div wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0s">
                                <h5>DONEC ET MI MOLLIS </h5>
                                <h3>Sed non sapien non nisi volutpat <span class="span-block">elementum at quis velit. </span></h3>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-20">

                        <div class="col-lg-3 col-md-6">

                            <div class="card-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                                <div class="icon-div">
                                    <img src="assets/images/icons/sign.png" class="img-fluid img-icon img-icon-flow" alt="Sign" />
                                </div>
                                <div class="content-div">
                                    <h4>Sign Up</h4>
                                    <p>Sign up for an account online and add your family’s details.</p>
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-lg-3 col-md-6">

                            <div class="card-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                                <div class="icon-div">
                                    <img src="assets/images/icons/download.png" class="img-fluid img-icon img-icon-flow" alt="Download" />
                                </div>
                                <div class="content-div">
                                    <h4>Download</h4>
                                    <p>Download the app and log in using your unique account details.</p>
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-lg-3 col-md-6">

                            <div class="card-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.75s">
                                <div class="icon-div">
                                    <img src="assets/images/icons/event.png" class="img-fluid img-icon img-icon-flow" alt="event" />
                                </div>
                                <div class="content-div">
                                    <h4>Add Events</h4>
                                    <p>Set up and create event to your account.</p>
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-lg-3 col-md-6">

                            <div class="card-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                                <div class="icon-div">
                                    <img src="assets/images/icons/protect.png" class="img-fluid img-icon img-icon-flow" alt="protect" />
                                </div>
                                <div class="content-div">
                                    <h4>Protect</h4>
                                    <p>Your supported devices are now ready to be protected from online threats.</p>
                                </div>
                            </div>
                            
                        </div>

                    </div>        

                </div>
            </div>
        </section>

        <section class="pricing-section">
            <div class="container">
                <div class="pricing-div">
                    
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="header-common-div mb-40 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                                <h5>SIMPLE, STRAIGHT PRICING</h5>
                                <h3>Sed non sapien non nisi volutpat <span class="span-block">elementum at quis velit. </span></h3>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-20">

                        <div class="col-lg-4 col-md-4">

                            <div class="pricing-card-box wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s" >
                                <div class="content-div">
                                    <h4>ANNUAL PLAN</h4>
                                    <span class="strike-span">$69</span>
                                    <h3 class="pricing-number">$49</h3>
                                    <div class="details-plan-div">
                                        <p>Mauris non posuere diam. Praesent ullamcorper varius lacus. In elit urna, aliquam nec odio vitae, auctor porttitor justo.</p>
                                    </div>
                                </div>
                                <div class="button-row-plan">
                                    <button (click)="gotoRoute('sign-up',false)" class="btn btn-get-started">GET STARTED</button>
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-lg-4 col-md-4">

                            <div class="pricing-card-box free-pricing-card-box wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                                <div class="content-div">
                                    <h4>30 DAY FREE TRIAL</h4>
                                    <span class="strike-span"></span>
                                    <h3 class="pricing-number">FREE</h3>
                                    <div class="details-plan-div">
                                        <p>Mauris non posuere diam. Praesent ullamcorper varius lacus. In elit urna, aliquam nec odio vitae, auctor porttitor justo.</p>
                                    </div>
                                </div>
                                <div class="button-row-plan">
                                    <button (click)="gotoRoute('sign-up',false)" class="btn btn-get-started">GET STARTED</button>
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-lg-4 col-md-4">

                            <div class="pricing-card-box wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                                <div class="content-div">
                                    <h4>ANNUAL PLAN</h4>
                                    <span class="strike-span">$69</span>
                                    <h3 class="pricing-number">$49</h3>
                                    <div class="details-plan-div">
                                        <p>Mauris non posuere diam. Praesent ullamcorper varius lacus. In elit urna, aliquam nec odio vitae, auctor porttitor justo.</p>
                                    </div>
                                </div>
                                <div class="button-row-plan">
                                    <button (click)="gotoRoute('sign-up',false)" class="btn btn-get-started">GET STARTED</button>
                                </div>
                            </div>
                            
                        </div>

                    </div>        

                </div>
            </div>
        </section>

        <section class="try-for-free-section">
            <div class="container">
                <div class="try-for-free-div">
                    
                    <div class="row justify-content-center">
                        <div class="col-lg-9 col-md-12">
                            <div class="header-common-div header-white-div mb-40 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0s">
                                <h3>Try for free! </h3>
                                <p>Aenean vel suscipit ante. Ut ac magna vel purus facilisis lobortis non quis ex. Sed eget egestas libero. Suspendisse facilisis non dui eu viverra. Nam aliquam nibh lorem, id venenatis turpis luctus nec. Sed nec lobortis est.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center mt-20 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">

                        <div class="col-lg-6 col-md-8">
                            <div class="input-group get-input-free-group ">
                                <input type="text" class="form-control" placeholder="Enter your email to start">
                                <div class="input-group-append">
                                    <button (click)="gotoRoute('sign-up',false)" class="btn btn-get-started-big">
                                        Get Started
                                    </button>
                                </div>
                            </div>
                            <div class="no-credit-div text-center">
                                <p>No credit card required.</p>
                            </div>
                        </div>

                    </div>        

                </div>
            </div>
        </section>

        <section class="app-mobile-section">
            <div class="container">
                <div class="app-mobile-div">
                
                    <div class="row mt-20 align-items-center">

                        <div class="col-lg-6 col-md-6">

                            <div class="card-box app-mobile-card-box wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0s">
                                <div class="content-div">
                                    <div class="header-left-common-div header-left2">
                                        <h3>Try for free! </h3>
                                        <p>Aenean venenatis ultricies ex ac fringilla. Sed scelerisque vel enim a blandit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer sit amet dui sit amet lacus lacinia sodales.</p> 
                                    </div>
                                    <div class="store-icon-div">
                                        <a href="https://itunes.apple.com/us/app/mysafetynet-app/id1447820715?ls=1&mt=8" target="_blank" class="btn btn-store mr-10">
                                            <img src="assets/images/app-store-black.png" class="img-store-icon" alt="app-store">
                                        </a>
                                        <a href="https://play.google.com/store/apps/details?id=com.mysafetynet" target="_blank" class="btn btn-store">
                                            <img src="assets/images/google-play-black.png" class="img-store-icon" alt="google-play">    
                                        </a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="round-mobile-div">
                                <div class="center-app-div " >
                                    <img src="assets/images/app-splash.png" alt="splash" class="img-app wow zoomIn" data-wow-duration="1s" data-wow-delay="0s" />
                                </div>
                            </div>
                        </div>

                    </div>        

                </div>
            </div>
        </section>

    </div>

    <footer>
        <div class="footer-root">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="footer-div" >
                            <div class="row wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                                <div class="col-lg-4 col-md-4">
                                    <div class="footer-title">
                                        <h4>Download App</h4>
                                    </div>
                                    <div class="store-icon-div footer-app-icon-div">
                                        <a href="javascript:void(0)" class="btn btn-store mr-10">
                                            <img src="assets/images/apple-app-store01.png" class="img-store-icon" alt="app-store">
                                        </a>
                                        <a href="javascript:void(0)" class="btn btn-store">
                                            <img src="assets/images/play-store-icon01.png" class="img-store-icon" alt="google-play">    
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-6">
                                            <div class="footer-list-root">
                                                <div class="footer-title footer-title2">
                                                    <h4>Our App</h4>
                                                </div>
                                                <ul class="footer-ul">
                                                    <li><a href="javascript:void(0)" (click)="gotoRoute('features',false)" class="link-footer">Features</a></li>
                                                    <li><a href="javascript:void(0)" (click)="gotoRoute('pricing',false)" class="link-footer">Pricing </a></li>
                                                    <li><a href="javascript:void(0)" (click)="gotoRoute('blogs',false)" class="link-footer">Blog </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-6">
                                            <div class="footer-list-root">
                                                <div class="footer-title footer-title2">
                                                    <h4>Support</h4>
                                                </div>
                                                <ul class="footer-ul">
                                                    <li><a href="javascript:void(0)" (click)="gotoRoute('support',false)" class="link-footer">Support</a></li>
                                                    <li><a href="javascript:void(0)" (click)="gotoRoute('contact',false)" class="link-footer">Contact Us</a></li>
                                                    <li><a href="javascript:void(0)" (click)="gotoRoute('anonymous-complaint',false)" class="link-footer">Anonymous Complaint </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-6">
                                            <div class="footer-list-root">
                                                <div class="footer-title footer-title2">
                                                    <h4>Company</h4>
                                                </div>
                                                <ul class="footer-ul">
                                                    <li><a href="javascript:void(0)" (click)="gotoRoute('about',false)" class="link-footer">About</a></li>
                                                    <li><a href="javascript:void(0)" (click)="gotoRoute('privacy',false)" class="link-footer">Privacy Policy</a></li>
                                                    <li><a href="javascript:void(0)" (click)="gotoRoute('terms-conditions',false)" class="link-footer">Terms & Conditions </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          </div> 

                       </div>

                       <div class="footer-bottom" >
                      
                          <div class="row align-items-center wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
      
                                <div class="col-lg-8 col-md-8">
                                    <div class="footer-bottom-left padding0">
                                        <p>© 2020 Copyright, All Rights Reserved By <a href="javascript:void(0)" class="link-a">MySafetyNet</a> <span class="span-block"> <span class="v-none">|</span> Developed By: <a href="#" class="link-a">Citrusbug Technolabs</a></span></p>
                                    </div>  
                                </div>
      
                                <div class="col-lg-4 col-md-4">
                                    <div class="footer-bottom-right">
                                        <a href="https://www.facebook.com/mysafetynet.Info/" target="_blank" class="btn btn-default btn-round-link mr-8px"><i class="fab fa-facebook-f social-icon"></i></a>
                                        <a href="https://twitter.com/mysafetynetinfo" target="_blank" class="btn btn-default btn-round-link"><i class="fab fa-twitter social-icon"></i></a>
                                    </div>
                                </div>    
      
                          </div>
                      
                      </div>   

                    </div>
                </div>
            </div>

           

        </div>
    </footer>

    <a href="javascript:void(0)" class="return-to-top"><i class="fas fa-chevron-up"></i></a>
	