<app-loader [formload]="formload" *ngIf="formload"></app-loader>
<section class="authntication-section">
  <div class="authntication-inner">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-xl-6 col-lg-6 col-md-8">
                  <div class="authntication-box-header">
                      <h2>Login</h2>
                      <p>Don't have an account? <a href="javascript:void(0)" (click)="gotoRoute('sign-up')" >Create an account</a></p>
                  </div>
                  <div class="authntication-box">
                      <form class="">
                          <div class="form-group">
                              <label>Email</label>
                              <input type="text" [formControl]="signinForm.controls['email']" class="form-control" name="" id="" placeholder="Enter Email ID" />
                              <p class="text-danger" *ngIf="signinForm.controls.email.invalid && (signinForm.controls.email.dirty || signinForm.controls.email.touched || submitted)">Email Address is required</p>
                          </div>
                          <div class="form-group">
                              <label>Password</label>
                              <div class="input-group form-group" id="show_hide_password">
                                  <input class="form-control"  [formControl]="signinForm.controls['password']" type="{{ viewPassword ? 'text' : 'password' }}" placeholder="Password">
                                  <div class="input-group-addon">
                                    <a href="javascript:void(0)" (click)="togglePasswordView()" class="passshow"><i class="fe " [class.fe-eye]="viewPassword" [class.fe-eye-off]="!viewPassword" aria-hidden="true"></i></a>
                                  </div>
                                </div>
                                <p class="text-danger" *ngIf="signinForm.controls.password.invalid && (signinForm.controls.password.dirty || signinForm.controls.password.touched || submitted)">Password is required</p>
                          </div>
                          <div class="authentication-btn">
                              <a href="javascript:void(0)" (click)="onSubmit()" class="btn btn-login btn-waves">Login</a>
                          </div>
                      </form>

                  </div>

                  <div class="authntication-box-footer">
                      <a href="javascript:void(0)" (click)="gotoRoute('forgot-password')" >Forgot password ?</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


