<app-loader [formload]="formload" *ngIf="formload"></app-loader>
<section class="authntication-section">
  <div class="authntication-inner">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-xl-6 col-lg-6 col-md-8">
                  <div class="authntication-box-header">
                      <h2>Verify your phone number</h2>
                  </div>
                  <div class="authntication-box">
                      <form class="" >
                          <div class="form-group forgot-password">
                              <label>your phone number</label>
                             
							  <div class="max-input-div">
							  <input type="text"
                                                            [formControl]="signupForm.controls['phone']"
                                                            class="form-control"
                                                            name="phone_no"
                                                            placeholder="Enter phone number"
                                                            ng2TelInput [ng2TelInputOptions]="{initialCountry: country_code_t}"
                                                            (hasError)="hasError($event)" (ng2TelOutput)="getNumber($event)"
                                                            (countryChange)="onCountryChange($event)"
                                                            [textMask]="{mask: mask}"
                                                          />
														  
                             <p class="text-danger" *ngIf="signupForm.controls.phone.hasError('required') && (signupForm.controls.phone.dirty || signupForm.controls.phone.touched || submitted)">Phone number is required</p>
                                                          <p class="text-danger" *ngIf="signupForm.controls.phone.hasError('PhoneTen') && (signupForm.controls.phone.dirty || signupForm.controls.phone.touched || submitted)">Not a valid number</p>
                                                          
                          </div>
                          </div>
                          
                          <div class="authentication-btn">
                              <a href="javascript:void(0)"  (click)="onSubmit()"  class="btn btn-login btn-waves">CALL ME TO VERIFY NUMBER</a>
							   <a href="javascript:void(0)" id="submit_btn"  data-toggle="modal" data-target="#verify-popup" ></a>

                          </div>
                      </form>

                  </div>


              </div>
          </div>
      </div>
  </div>
</section><!--  end of banner  -->

<div class="modal modal-common fade" id="verify-popup">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        
            <div class="modal-header">
            <!-- <h4 class="modal-title">Modal Heading</h4> -->
            <button type="button" id="close-btn" class="close" data-dismiss="modal"><i class="fe fe-x"></i></button>
            </div>
            
            <div class="modal-body">
                <div class="common-box verify-box">
                    <div class="heading-box">
                        <h3>Call in progress</h3>
                    </div>
                    <div class="content-box">
                        <p>{{verificationData.enter_digit}}</p>
                    </div>
                    <div class="verify-row">
                        <div class="input-forms-common">
                            <div class="input-pin-code-div code-4">
                                <input type="tel" placeholder="0" [(ngModel)]="input_1" disabled class="form-control" maxlength="1">
                                <input type="tel" placeholder="0" [(ngModel)]="input_2" disabled class="form-control" maxlength="1">
                                <div class="dash">
                                    
                                </div>
                                <input type="tel" placeholder="0" [(ngModel)]="input_3" disabled class="form-control" maxlength="1">
                                <input type="tel" placeholder="0" [(ngModel)]="input_4" disabled class="form-control" maxlength="1">
                            </div>
                        </div>
                    </div>
					<div class="content-notification">
					<p class="retry-alert" *ngIf="call_status == 2">
                        <span class="text-retry">
                            We are having difficulty contacting you or verifying the PIN you enterd. you can retry the automated phone verification process
                            or
                            <a href="#">contact</a> customer service to speak with a representative.</span>
                        <span class="btn-retry">
                            <a href="javascript:void(0)" (click)="closemodal()">Retry</a>
                        </span>
                    </p>
					<div class="notification-sucess" *ngIf="call_status == 3">
						<h3>Your identity has been verified Successfully. </h3>
						<div class="modal-footer">
							<button type="button" (click)="redirectifverified()" class="btn btn-primary">Continue
							<span class="identity-counter" *ngIf="showTimer">00:{{timeLeft
								< 10 ? '0'+timeLeft : timeLeft}}</span>
								
								</button>
						</div>
						
					</div>
					</div>
                </div>
            </div>
            
            
            
        </div>
    </div>
</div>

