.content-notification p {
    font-weight: 400;
    font-size: 12px;
    color: #f44336;
    text-align: center;
    padding: 0;
    margin: 0 auto 20px auto;
    max-width: 550px; 
}

.notification-sucess h3 {
    font-weight: 400;
    font-size: 20px;
    color: #28a745;
    text-align: center;
    padding: 0;
    margin: 0 auto 20px auto;
    max-width: 550px; 
}