@import url(animate.min.css);
@import url(jquery.dataTables.min.css);
@import url(dataTables.bootstrap4.min.css);
/*   colors   */
/*   End of colors   */
/*** General css ***/
.container-1000 {
  max-width: 1140px;
}

.btn:focus, .btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-achieved {
  background: #2A42E1;
  border-radius: 0 0 6px 6px;
  width: 100%;
  min-height: 40px;
  font-weight: 500;
  font-size: 14px;
  color: white;
  text-align: center;
  line-height: 22px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-accept {
  padding: 5px 10px;
  background: #6DD400;
  border-radius: 6px;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-accept:hover, .btn.btn-accept:focus {
  background-color: #67c503;
}

.btn.btn-cancel {
  padding: 5px 5px;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-cancel:hover, .btn.btn-cancel:focus {
  background: #ddd;
}

.btn.btn-cancel .fe {
  color: #000000;
  font-size: 20px;
  line-height: 20px;
}

.btn-outline-primary {
  border-radius: 0px;
  border: 1px solid #2A42E1;
  color: #2A42E1;
  font-size: 14px;
  text-align: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn-outline-primary:hover, .btn-outline-primary:focus {
  background: #2A42E1;
  color: white;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -webkit-box-shadow: 0 5px 15px 3px rgba(42, 66, 225, 0.2);
          box-shadow: 0 5px 15px 3px rgba(42, 66, 225, 0.2);
}

.btn.btn-primary {
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active {
  background-color: #551ecc;
  border-color: #551ecc;
  -webkit-box-shadow: 0 5px 25px 5px rgba(42, 66, 225, 0.3);
          box-shadow: 0 5px 25px 5px rgba(42, 66, 225, 0.3);
}

.btn.btn-primary.btn-primary2 {
  padding: 0 30px;
  min-height: 42px;
  font-size: 16px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-big-cancel {
  min-height: 52px;
  min-width: 52px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn.btn-big-cancel .fe {
  font-size: 26px;
  line-height: 26px;
}

.btn-complete {
  background: #6DD400;
  border: 1px solid #6DD400;
  border-radius: 4px;
  padding: 10px 30px;
  min-height: 52px;
  font-weight: 700;
  font-size: 22px;
  color: white;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  min-width: 300px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn-complete:hover, .btn-complete:focus, .btn-complete:active {
  background-color: #67c503;
  border: 1px solid #67c503;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.btn-complete.btn-success:not(:disabled):not(.disabled):active {
  background-color: #67c503;
  border: 1px solid #67c503;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-previous {
  margin: 0;
  background: transparent;
  border: 1px solid rgba(114, 114, 114, 0.4);
  border-radius: 4px;
  padding: 10px 30px;
  min-height: 52px;
  font-weight: 700;
  font-size: 22px;
  color: #727272;
  letter-spacing: 0;
  text-align: center;
  min-width: 165px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn-previous:hover, .btn-previous:focus, .btn-previous:active {
  background-color: #fafafa;
  border: 1px solid #dddddd;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.btn-previous.btn-success:not(:disabled):not(.disabled):active {
  background-color: #fafafa;
  border: 1px solid #dddddd;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-cancel-block {
  padding: 5px 12px 5px 10px;
  font-size: 12px;
  color: #424242;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn-cancel-block .fe-custom {
  color: #000000;
  font-size: 16px;
  line-height: 0;
  margin: 0 12px 0 0;
}

.btn-cancel-block:hover, .btn-cancel-block:focus {
  background: #ddd;
}

.status-span {
  padding: 4px 10px;
  background: #6DD400;
  border-radius: 6px;
  font-size: 12px;
  color: white;
  letter-spacing: 0;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  min-width: 90px;
}

.status-span.scheduled-span {
  background: #2A42E1;
}

.status-span.awaiting-span {
  background: #FFB000;
}

.status-span.cancelled-span {
  background: #C7C7C7;
}

.status-span.status-big-span {
  padding: 7px 40px;
  min-height: 35px;
  display: inline-block;
  font-size: 18px;
  letter-spacing: 0;
  text-align: center;
  border-radius: 13px;
}

.dropdown-general .btn.btn-dot {
  padding: 2px 2px;
  background-color: transparent;
}

.dropdown-general .btn.btn-dot i.fe {
  font-size: 24px;
}

.dropdown-general .btn.btn-dot::after {
  display: none;
}

.dropdown-general .btn.btn-dot:hover i.fe {
  color: #2A42E1;
}

.dropdown-general .dropdown-menu {
  background: #FAFAFA;
  border: 1px solid rgba(114, 114, 114, 0.09);
  -webkit-box-shadow: 0 6px 10px 0 rgba(151, 151, 151, 0.5);
          box-shadow: 0 6px 10px 0 rgba(151, 151, 151, 0.5);
  border-radius: 0 0 6px 6px;
  right: 0;
  margin-top: 15px;
  left: auto !important;
  min-width: 220px;
}

.dropdown-general .dropdown-menu:before {
  content: "";
  border-top: 10px solid #ffffff00;
  border-right: 7px solid #ddd0;
  border-bottom: 10px solid #F1F1F1;
  border-left: 7px solid #ffffff00;
  display: inline-block;
  position: absolute;
  top: -22px;
  right: 8px;
}

.dropdown-general .dropdown-menu:after {
  content: "";
  border-top: 10px solid #ffffff00;
  border-right: 7px solid #ddd0;
  border-bottom: 10px solid #FAFAFA;
  border-left: 7px solid #ffffff00;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 8px;
}

.dropdown-general .dropdown-menu .dropdown-item {
  font-weight: 400;
  padding: 0px 30px;
  font-size: 16px;
  color: #424242;
  letter-spacing: 0;
  line-height: 40px;
}

.dropdown-general .dropdown-menu .dropdown-item:hover, .dropdown-general .dropdown-menu .dropdown-item:focus, .dropdown-general .dropdown-menu .dropdown-item:active {
  color: #2A42E1;
  text-decoration: none;
  background-color: #f8f9fa;
}

.dropdown-general .dropdown-menu .dropdown-item .dropdown-item.active {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.dropdown-general .dropdown-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dropdown-general .dropdown-menu ul li a {
  text-align: left;
  display: block;
}

.dropdown-general .dropdown-menu ul li.logout-li a {
  font-weight: 500;
  padding: 5px 30px;
}

.dropdown-general .dropdown-menu hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid rgba(203, 203, 203, 0.6);
  padding: 0;
  margin: 10px 30px 5px 30px;
}

.span-breack {
  display: block;
}

/*** End of general css ***/
/*  header  */
.mt-0 {
  margin-top: 0px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-35 {
  margin-bottom: 30px !important;
}

.ptb-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.ptb-40 {
  padding-top: 30px !important;
  padding-bottom: 25px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.hide-nav {
  display: none !important;
}

.nav-details-right {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-details-right .notification-dropdown-group {
  min-height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 45px;
  margin: 0 30px 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-details-right .notification-dropdown-group ul {
  list-style: none;
  padding: 0;
}

.nav-details-right .notification-dropdown-group .btn.btn-default {
  position: relative;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.nav-details-right .notification-dropdown-group .btn.btn-default:focus, .nav-details-right .notification-dropdown-group .btn.btn-default:hover {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.nav-details-right .notification-dropdown-group .btn.btn-default .icon-bell1 {
  font-size: 21px;
  color: white;
}

.nav-details-right .notification-dropdown-group .btn.btn-default::after {
  display: none;
}

.nav-details-right .notification-dropdown-group .dropdown-toggle::before {
  display: none;
}

.nav-details-right .notification-dropdown-group span.count-round {
  padding: 0 0 2px 0;
  margin: 0;
  background-color: #E90000;
  border: 1px solid #2A42E1;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  font-size: 10px;
  line-height: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 5px;
  color: white;
  left: 24px;
}

.nav-details-right .notification-dropdown-group .dropdown-menu {
  min-width: 340px;
  padding: 0;
}

.nav-details-right .notification-dropdown-group .notification-box {
  padding: 0;
  margin: 0;
  position: relative;
}

.nav-details-right .notification-dropdown-group .notification-box .notification-body {
  padding: 20px 10px 0px 10px;
  margin: 0;
  max-height: 420px;
  overflow-y: auto;
}

.nav-details-right .notification-dropdown-group .notification-box .notification-body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.nav-details-right .notification-dropdown-group .notification-box .notification-body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 24px 24px;
}

.nav-details-right .notification-dropdown-group .notification-box .notification-body::-webkit-scrollbar-thumb {
  background-color: #2A42E1;
  border-radius: 5px;
}

.nav-details-right .notification-dropdown-group .notification-box .notification-body h5 {
  font-weight: 700;
  font-size: 14px;
  color: #222221;
  letter-spacing: 0;
  padding: 0;
  margin: 0;
  line-height: 18px;
}

.nav-details-right .notification-dropdown-group .notification-box .notification-body .row-day {
  padding: 10px 0px 0 0;
  margin: 10px 0 10px 0;
  border-top: 1px solid #FAFAFA;
}

.nav-details-right .notification-dropdown-group .notification-box .notification-body .row-day:first-child {
  padding: 0px 0px 0 0;
  margin: 0px 0 0 0;
  border-top: 0px solid #FAFAFA;
}

.nav-details-right .notification-dropdown-group .notification-box .notification-body .div-notification-list-row {
  padding: 0;
  margin: 0 0 10px 0;
}

.nav-details-right .notification-dropdown-group .notification-box .notification-body .div-notification-list-row .notificationlink {
  padding: 10px 0px;
  background: white;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 0 4px 10px 2px rgba(18, 18, 18, 0.05);
          box-shadow: 0 4px 10px 2px rgba(18, 18, 18, 0.05);
  position: relative;
  margin: 12px 0 0 0;
}

.nav-details-right .notification-dropdown-group .notification-box .notification-body .div-notification-list-row .user-img {
  padding: 0px 0px 0 10px;
  margin: 0;
  min-width: 45px;
}

.nav-details-right .notification-dropdown-group .notification-box .notification-body .div-notification-list-row .user-img img.not-img {
  width: 34px;
  height: 34px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  border-radius: 100px;
}

.nav-details-right .notification-dropdown-group .notification-box .notification-body .div-notification-list-row .notif-desc {
  padding: 0px 0px;
  padding-left: 10px;
  margin: 0;
  width: calc(100% - 45px);
}

.nav-details-right .notification-dropdown-group .notification-box .notification-body .div-notification-list-row .notif-desc h4 {
  padding: 0;
  margin: 0 0 5px 0;
  font-weight: 700;
  font-size: 16px;
  color: #222221;
}

.nav-details-right .notification-dropdown-group .notification-box .notification-body .div-notification-list-row .notif-desc p {
  padding: 0px 0px;
  margin: 0 0 8px 0;
  max-width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  font-size: 14px;
  color: #727272;
  letter-spacing: 0;
  line-height: 22px;
}

.nav-details-right .notification-dropdown-group .notification-box .notification-body .div-notification-list-row .notif-desc span.time-span-line {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  color: #424242;
}

.nav-details-right .notification-dropdown-group .notification-box .notification-body .div-notification-list-row .notif-desc span.rec-line {
  height: 10px;
  width: 1px;
  background-color: #62666B;
  display: inline-block;
  margin: 0 10px;
}

.nav-details-right .notification-dropdown-group .notification-box .notification-footer {
  padding: 0px 0px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-details-right .notification-dropdown-group img.notification-icon {
  opacity: 0.4;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.nav-details-right .dropdown-menu {
  background: #FAFAFA;
  -webkit-box-shadow: 0 6px 10px 0 rgba(151, 151, 151, 0.5);
          box-shadow: 0 6px 10px 0 rgba(151, 151, 151, 0.5);
  border-radius: 0 0 6px 6px;
  right: 0;
  margin-top: 15px;
  left: auto !important;
  min-width: 220px;
  border: 0px solid #F1F1F1;
}

.nav-details-right .dropdown-menu:before {
  content: "";
  border-top: 10px solid #ffffff00;
  border-right: 7px solid #ddd0;
  border-bottom: 10px solid #F1F1F1;
  border-left: 7px solid #ffffff00;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 17px;
}

.nav-details-right .dropdown-menu a.dropdown-item {
  font-weight: 400;
  padding: 0px 30px;
  font-size: 16px;
  color: #424242;
  letter-spacing: 0;
  line-height: 40px;
}

.nav-details-right .dropdown-menu a.dropdown-item:hover, .nav-details-right .dropdown-menu a.dropdown-item:focus, .nav-details-right .dropdown-menu a.dropdown-item:active {
  color: #2A42E1;
  text-decoration: none;
  background-color: #f8f9fa;
}

.nav-details-right .dropdown-menu a.dropdown-item.active {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.nav-details-right .dropdown-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-details-right .dropdown-menu ul li a {
  text-align: left;
  display: block;
}

.nav-details-right .dropdown-menu ul li.logout-li a {
  font-weight: 500;
  padding: 5px 30px;
}

.nav-details-right .dropdown-menu hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid rgba(203, 203, 203, 0.6);
  padding: 0;
  margin: 10px 30px 5px 30px;
}

.nav-details-right .user-drop-down {
  margin-left: 10px;
}

.nav-details-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle {
  padding: 0;
  padding-right: 30px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.nav-details-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle::after {
  border-top: 0.35em solid rgba(255, 255, 255, 0.6);
  border-right: .35em solid transparent;
  border-left: .35em solid transparent;
  position: absolute;
  right: 20px;
}

.nav-details-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle::before {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  color: #D8D8D8;
  font-size: 24px;
}

.nav-details-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle .user-profile {
  padding: 0 0 0 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-details-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle .user-profile .user-info {
  padding: 0 30px 0 20px;
  text-align: left;
  min-width: 230px;
}

.nav-details-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle .user-profile .user-info h3 {
  font-weight: 500;
  margin: 0 0 2px 0;
  font-size: 18px;
  line-height: 24px;
  color: white;
  letter-spacing: 0;
}

.nav-details-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle .user-profile .user-info p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.79);
}

.nav-details-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle .user-profile .user-img {
  margin: 0 0px;
}

.nav-details-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle .user-profile .user-img .user-top-image {
  padding: 0;
  margin: 0;
  border-radius: 100px;
  height: 48px;
  width: 48px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

/* End of header  */
/*  main body  */
.dashboard-wrapper {
  background-color: #FAFBFD;
}

.white-bg {
  background-color: white;
}

.main-middle-area {
  padding: 80px 0 0 0;
}

.page-header {
  padding: 30px 0;
  margin: 0;
  position: relative;
  /* connection */
  /* End of connection */
}

.page-header h3 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  color: #424242;
  letter-spacing: -0.1px;
  line-height: 28px;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header .search-div {
  padding: 0px 0;
  margin: 0;
}

.page-header .search-box {
  padding: 0px 0;
  margin: 0;
  position: relative;
}

.page-header .search-box .form-search {
  background: #F1F2F5;
  border: 1px solid #F5F6FA;
  border-radius: 2px;
  font-weight: 300;
  font-size: 18px;
  color: #727272;
  letter-spacing: 0;
  padding: 5px 35px 5px 15px;
  min-height: 40px;
  margin: 0 0 0 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.page-header .search-box .form-search::-webkit-input-placeholder {
  color: #727272;
}

.page-header .search-box .form-search::-moz-placeholder {
  color: #727272;
}

.page-header .search-box .form-search:-ms-input-placeholder {
  color: #727272;
}

.page-header .search-box .form-search:-moz-placeholder {
  color: #727272;
}

.page-header .search-box .icon-search {
  font-size: 18px;
  color: #727272;
}

.page-header .search-box .btn-search {
  position: absolute;
  top: 0px;
  right: 0px;
  background: transparent;
  border: 1px solid transparent;
  outline: none;
  padding: 8px 10px 6px 10px;
  min-height: 40px;
  width: 42px;
}

.page-header .connection-right {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page-header .connection-right .mr-10 {
  margin-right: 10px;
}

.page-header .connection-right .search-div {
  width: 100%;
}

.page-header .connection-right .search-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page-header .connection-right .search-box .form-search {
  padding: 7px 35px 6px 15px;
  min-height: 42px;
  width: 100%;
}

.page-header .connection-right .search-box .icon-search {
  top: 11px;
}

.page-header .connection-right .search-hover-div .search-box {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.page-header .connection-right .search-hover-div .search-box .form-search {
  width: 42px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.page-header .connection-right .search-hover-div .search-box .form-search::-webkit-input-placeholder {
  color: transparent;
}

.page-header .connection-right .search-hover-div .search-box .form-search::-moz-placeholder {
  color: transparent;
}

.page-header .connection-right .search-hover-div .search-box .form-search:-ms-input-placeholder {
  color: transparent;
}

.page-header .connection-right .search-hover-div .search-box .form-search:-moz-placeholder {
  color: transparent;
}

.page-header .connection-right .search-hover-div .search-box .icon-search-cancel {
  font-size: 20px;
  background-color: transparent;
  height: 24px;
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 2px 0;
  display: none;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.page-header .connection-right .search-hover-div .search-box.full-width-input .form-search {
  width: 100%;
  padding-right: 40px;
  padding-left: 15px;
}

.page-header .connection-right .search-hover-div .search-box.full-width-input .form-search::-webkit-input-placeholder {
  color: #727272;
}

.page-header .connection-right .search-hover-div .search-box.full-width-input .form-search::-moz-placeholder {
  color: #727272;
}

.page-header .connection-right .search-hover-div .search-box.full-width-input .form-search:-ms-input-placeholder {
  color: #727272;
}

.page-header .connection-right .search-hover-div .search-box.full-width-input .form-search:-moz-placeholder {
  color: #727272;
}

.page-header .connection-right .search-hover-div .search-box.full-width-input .icon-search {
  display: none;
}

.page-header .connection-right .search-hover-div .search-box.full-width-input .icon-search-cancel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-view-main {
  padding: 0;
  margin: 0;
  position: relative;
}

.card-view-main .card-view-div {
  padding: 20px 30px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 100px;
  width: 100%;
  background-image: linear-gradient(-45deg, #0054FE 0%, #0054FE 100%);
  -webkit-transition: all 3s;
  transition: all 3s;
}

.card-view-main .card-view-div.card-view-div02 {
  background-image: linear-gradient(-45deg, #59B7F0 0%, #59D6F0 100%);
}

.card-view-main .card-view-div.card-view-div03 {
  background-image: linear-gradient(-45deg, #FF8F00 0%, #FFB000 100%);
}

.card-view-main .card-view-div .icon-view {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.card-view-main .card-view-div .details-view-right {
  padding: 0 0px 0 20px;
  margin: 0;
  position: relative;
  width: calc(100% - 60px);
}

.card-view-main .card-view-div .details-view-right h4 {
  padding: 0;
  margin: 0 0 0 0;
  color: white;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

.card-view-main .card-view-div .details-view-right .btn-view {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: white;
  font-weight: 500;
  position: relative;
  width: 100%;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
  text-align: left;
}

.card-view-main .card-view-div .details-view-right .btn-view .icon-arrow {
  position: absolute;
  right: 0;
  top: 5px;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.card-view-main .card-view-div:hover .icon-view {
  border-radius: 60px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.card-view-main .card-view-div:hover .details-view-right .btn-view .icon-arrow {
  right: 5px;
}

.card-view-main .row.grid-row {
  margin-right: -10px;
  margin-left: -10px;
}

.card-view-main .row.grid-row .grid-4 {
  padding-right: 10px;
  padding-left: 10px;
}

.event-view-main-root {
  padding: 0;
  margin: 30px 0 30px 0;
  position: relative;
}

.event-view-main-root .row.grid-row {
  margin-right: -10px;
  margin-left: -10px;
}

.event-view-main-root .plr-10 {
  padding-right: 10px;
  padding-left: 10px;
}

.heading-title {
  padding: 0;
  margin: 0 0 15px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading-title h3 {
  font-weight: 500;
  font-size: 20px;
  color: #282D30;
  letter-spacing: -0.1px;
  line-height: 23px;
  margin: 0;
  display: inline-block;
}

.heading-title .right-button {
  display: inline-block;
}

.heading-title .right-button .btn.btn-link {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.08px;
  text-align: right;
  line-height: 24px;
}

.data-table-root .table-responsive {
  max-height: 490px;
}

.data-table-root .table-custom th, .data-table-root .table-custom td {
  padding: 12px .4rem;
  vertical-align: middle;
}

.data-table-root .table-custom th {
  font-weight: 500;
  font-size: 14px;
  color: #222222;
  letter-spacing: 0;
  background-color: #F5F6F9;
  border-color: transparent !important;
  border-color: transparent !important;
}

.data-table-root .table-custom th:first-child, .data-table-root .table-custom td:first-child {
  padding: 0 10px;
  text-align: center;
  border-radius: 4px 0 0 4px;
}

.data-table-root .table-custom th:last-child, .data-table-root .table-custom td:last-child {
  padding: 0 15px;
  border-radius: 0 4px 4px 0;
}

.data-table-root .table-custom thead tr {
  border-bottom: 10px solid #fafbfd;
}

.data-table-root .table-custom tbody tr {
  margin: 0 0 10px 0;
  display: table-row;
  width: 100%;
  border-bottom: 10px solid #fafbfd;
  background-color: #fff;
}

.data-table-root .table-custom tbody tr:hover {
  background: #FFFFFF;
  -webkit-box-shadow: 0 4px 14px 1px rgba(234, 239, 248, 0.6);
          box-shadow: 0 4px 14px 1px rgba(234, 239, 248, 0.6);
}

.data-table-root .table-custom tbody tr.modal-hover {
  cursor: pointer;
}

.data-table-root .table-custom .width-40px {
  width: 40px;
  width: 40px !important;
}

.data-table-root .table-custom .width-20-40 {
  width: 15%;
  min-width: 120px;
}

.data-table-root .table-custom .width-20 {
  width: 20%;
}

.data-table-root .table-custom .width-15 {
  width: 15%;
}

.data-table-root .table-custom .width-25 {
  width: 25%;
}

.data-table-root .table-custom .max-width-140 {
  max-width: 140px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-table-root .table-custom .max-width-120 {
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-table-root .meeting-user {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 162px;
}

.data-table-root .meeting-user .img-user-thumb {
  padding: 0;
  margin: 0;
}

.data-table-root .meeting-user .img-user-thumb .img-user {
  height: 35px;
  width: 35px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
}

.data-table-root .meeting-user .details-user {
  width: calc(100% - 35px);
  padding: 0 0 0 8px;
}

.data-table-root .meeting-user .details-user h4 {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #222222;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-table-root .meeting-user .details-user p {
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #727272;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.data-table-root .status-action {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.data-table-root.full-table-root .table-responsive {
  max-height: 100%;
}

.grid-30 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  max-width: 30%;
}

.grid-50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.grid-70 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  max-width: 70%;
}

.card-view-list-root {
  padding: 0;
  margin: 0 0 15px 0;
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 54px 0 #F5F6FA;
          box-shadow: 0 2px 54px 0 #F5F6FA;
}

.card-view-list-root .inner-top-header {
  padding: 20px 10px 10px 20px;
  margin: 0 0 0px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-view-list-root .inner-top-header h3 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  color: #282D30;
  line-height: 24px;
}

.card-view-list-root .top-row-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 20px 20px 20px;
  width: 100%;
}

.card-view-list-root .top-row-div .top-span {
  opacity: 0.7;
  font-weight: 500;
  font-size: 12px;
  color: #222222;
  letter-spacing: 0;
  margin: 0px 0 2px 0;
  display: block;
}

.card-view-list-root .top-row-div h3 {
  font-weight: 900;
  font-size: 28px;
  color: #222222;
  letter-spacing: 0;
}

.card-view-list-root .top-row-div .card-box {
  padding: 5px 0;
}

.card-view-list-root .border-right1 {
  border-right: 1px solid #F5F6F9;
}

.card-view-list-root .listing-request-root {
  padding: 0;
  margin: 0 0 0px 0;
  position: relative;
  /* All Event */
}

.card-view-list-root .listing-request-root .listing-row-full {
  padding: 0;
  margin: 0 0 0px 0;
  position: relative;
}

.card-view-list-root .listing-request-root .listing-row-full .request-user {
  padding: 15px 15px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 -1px 0 0 #F5F6F9, 0 1px 0 0 #F5F6F9;
          box-shadow: 0 -1px 0 0 #F5F6F9, 0 1px 0 0 #F5F6F9;
}

.card-view-list-root .listing-request-root .listing-row-full .request-user .img-user-thumb {
  padding: 0;
  margin: 0;
  position: relative;
}

.card-view-list-root .listing-request-root .listing-row-full .request-user .img-user-thumb .img-user {
  height: 42px;
  width: 42px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
}

.card-view-list-root .listing-request-root .listing-row-full .request-user span.user-status {
  background: #00D900;
  border: 2px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 3px;
  right: 0;
  height: 10px;
  width: 10px;
  border-radius: 100%;
}

.card-view-list-root .listing-request-root .listing-row-full .request-user .details-user {
  width: calc(100% - 42px);
  padding: 0 0 0 10px;
}

.card-view-list-root .listing-request-root .listing-row-full .request-user .details-user h4 {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #222222;
  letter-spacing: 0;
  line-height: 20px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-view-list-root .listing-request-root .listing-row-full .request-user .details-user p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #727272;
  line-height: 16px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-view-list-root .listing-request-root.all-events-root .request-user .details-user h5 {
  font-size: 14px;
  color: #727272;
  letter-spacing: 0;
  padding: 0;
  margin: 0 0 5px 0;
  font-weight: 400;
}

.card-view-list-root .listing-request-root.all-events-root .request-user .details-user a.link-user-img {
  font-weight: 700;
  color: #101010;
  text-decoration: underline;
}

.card-view-list-root .listing-request-root.all-events-root .request-user .details-user a.link-user-img:hover, .card-view-list-root .listing-request-root.all-events-root .request-user .details-user a.link-user-img:focus {
  color: #2A42E1;
}

.event-view-number-top {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.event-view-number-top p {
  font-weight: 400;
  font-size: 18px;
  color: #727272;
  letter-spacing: 0;
  text-align: right;
  margin: -51px 0 0 0;
  display: inline-block;
  width: auto;
}

.event-view-number-top p span.color-span {
  color: #424242;
}

.need-help-view {
  padding: 30px 20px 20px 20px;
  margin: 0 0 15px 0;
  position: relative;
  background: #FFFFFF;
}

.need-help-view .img-row-div {
  margin: 0 0 25px 0;
}

.need-help-view .img-row-div .img-need {
  width: 100%;
}

.need-help-view h4 {
  padding: 0;
  margin: 0px 0 5px 0;
  font-size: 16px;
  font-weight: 700;
  color: #424242;
  letter-spacing: -0.09px;
}

.need-help-view p {
  padding: 0;
  margin: 0px 0 25px 0;
  font-weight: 400;
  font-size: 12px;
  color: #727272;
  letter-spacing: 0;
  line-height: 18px;
}

.add-plus-div {
  padding: 0;
  margin: 0px 0 0px 0;
  position: fixed;
  bottom: 100px;
  right: 50px;
}

.btn-round.btn-plus {
  padding: 0;
  margin: 0;
  background-color: #2A42E1;
  height: 64px;
  width: 64px;
  outline: none;
  color: white;
  font-size: 44px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.btn-round.btn-plus i.material-icons {
  font-size: 44px;
}

.btn-round.btn-plus:hover, .btn-round.btn-plus:focus {
  -webkit-box-shadow: 0px 10px 25px 0 rgba(42, 66, 225, 0.4);
          box-shadow: 0px 10px 25px 0 rgba(42, 66, 225, 0.4);
}

/*  calendar  */
.title-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-back {
  width: auto;
  margin: 0 20px 0 0;
  line-height: 39px;
  border: none;
  padding: 0px 0;
}

.link-back .icon-custom {
  display: inline-block;
  width: 70px;
  height: 70px;
  background: black;
  -webkit-mask-size: contain;
          mask-size: contain;
}

.link-back .icon-custom:hover, .link-back .icon-custom:focus {
  background: #2A42E1;
}

.link-back .icon-custom.arrow-left-long-icon {
  -webkit-mask: url(../images/icons/arrow-left-long.svg);
          mask: url(../images/icons/arrow-left-long.svg);
  width: 22px;
  height: 14px;
  line-height: 40px;
  vertical-align: middle;
}

/* tab view */
.tab-view-root {
  padding: 0;
  margin: 0;
  position: relative;
}

.tab-view-root .top-list-nav-tabs {
  padding: 0;
  margin: 0;
  position: relative;
}

.tab-view-root .top-list-nav-tabs .nav-tabs li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 40px 0 0;
}

.tab-view-root .top-list-nav-tabs .nav-tabs a {
  opacity: 0.5;
  padding: 10px 0;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
  letter-spacing: 0;
  text-align: center;
  display: block;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.tab-view-root .top-list-nav-tabs .nav-tabs a:hover, .tab-view-root .top-list-nav-tabs .nav-tabs a:focus {
  opacity: 1;
}

.tab-view-root .top-list-nav-tabs .nav-tabs a.active {
  opacity: 1;
  border-bottom: 2px solid #424242;
}

.tab-view-root .tab-view-body {
  padding: 10px 0 0 0;
  margin: 0;
  position: relative;
}

.tab-view-root .tab-view-body .tab-inner-container {
  padding: 10px 0;
  margin: 0;
  position: relative;
}

.img-fluid.img-full {
  width: 100%;
}

/* End of tab view  */
/* End of calendar */
/*  End of main body  */
/* Modal */
.status-span.status-big-span {
  padding: 7px 40px;
  min-height: 35px;
  display: inline-block;
  font-size: 18px;
  letter-spacing: 0;
  text-align: center;
}

.user-link-italic {
  font-size: 22px;
  color: #000000;
  text-align: center;
  line-height: 30px;
  font-style: italic;
  font-weight: 700;
  text-decoration: underline;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.user-link-italic:hover, .user-link-italic:focus {
  color: #2A42E1;
  text-decoration: underline;
}

span.blue-bold {
  color: #2A42E1;
  font-weight: 700;
}

.modal-common .common-box.event-action-box {
  padding-bottom: 5px;
}

.modal-common .common-box .content-box .max-width-470 {
  max-width: 470px;
}

.modal-common .common-box .event-time-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 35px 40px 25px 40px;
  background-color: #FAFAFA;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-common .common-box .event-time-view p {
  padding: 0;
  margin: 0 0 5px 0;
  font-weight: 500;
  font-size: 24px;
  color: rgba(66, 66, 66, 0.6);
  text-align: center;
}

.modal-common .common-box .event-time-view h2 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 40px;
  color: #424242;
  letter-spacing: 0;
  text-align: center;
}

.modal-common .common-box .bottom-text-center {
  padding: 25px 40px 5px 40px;
}

.modal-common .common-box .bottom-text-center p {
  max-width: 450px;
  margin: 0 auto 5px auto;
}

.modal-common .common-box .bottom-text-center h5 {
  font-weight: 500;
  font-size: 22px;
  color: #000000;
  text-align: center;
  line-height: 32px;
  padding: 0;
  margin: 0 auto 5px auto;
  text-decoration: underline;
}

.modal-common .common-box .status-inner-row {
  padding: 30px 0;
  text-align: center;
}

.modal-common .common-box .status-inner-row p {
  line-height: 32px;
}

.modal-common .modal-footer2 {
  padding: 20px 40px 30px 40px;
}

.modal-common .modal-footer3 {
  max-width: 580px;
  margin: 0 auto;
  width: 100%;
  padding: 30px 10px 40px 10px;
}

.modal-common .modal-footer4 {
  margin: 0 auto;
  width: 100%;
  padding: 0px 40px 0px 40px;
}

.safety-image-group {
  padding: 40px 0;
  margin: 0;
  position: relative;
}

.safety-image-group .safety-container {
  max-width: 580px;
  padding-right: 12px;
  padding-left: 12px;
}

.safety-image-group .safety-row {
  margin-right: -6px;
  margin-left: -6px;
}

.safety-image-group .plr-6 {
  padding-right: 6px;
  padding-left: 6px;
}

.safety-image-group .safety-select-box {
  padding: 10px;
  margin: 0 0 12px 0;
  min-height: 133px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fafafa;
  border: 2px solid #fafafa;
  opacity: 60%;
  position: relative;
  cursor: pointer;
}

.safety-image-group .safety-select-box .safety-label {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.safety-image-group .safety-select-box .radio-btn {
  display: none;
}

.safety-image-group .safety-select-box:before {
  opacity: 0;
  content: "\e86c";
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 26px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 2px;
  right: 2px;
  color: #6DD400;
}

.safety-image-group .safety-select-box.active {
  opacity: 1;
  border: 2px solid #6DD400;
  background-color: white;
}

.safety-image-group .safety-select-box.active:before {
  opacity: 1;
}

.safety-image-group .warning-container .safety-select-box.active {
  border: 2px solid #FF0052;
}

.safety-image-group .warning-container .safety-select-box::before {
  color: #FF0052;
}

.connection-form-group {
  padding: 40px 0 0 0;
  margin: 0;
  position: relative;
}

.connection-form-group .connection-container {
  max-width: 580px;
  padding-right: 12px;
  padding-left: 12px;
}

.connection-form-group .grid-row {
  margin-right: -6px;
  margin-left: -6px;
}

.connection-form-group .plr-6 {
  padding-right: 6px;
  padding-left: 6px;
}

.connection-form-group .common-forms-root {
  padding: 0;
  margin: 0;
}

.connection-form-group .invite-box-root {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.connection-form-group .invite-box-root .invite-box-card {
  min-width: calc(50% - 16px);
}

.modal-big-width .modal-dialog {
  max-width: 1015px;
}

.common-details-box {
  padding: 40px 40px;
  margin: 0;
  position: relative;
}

.common-details-box .profile-user-view-box {
  padding: 0 0 40px 0;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px solid rgba(114, 114, 114, 0.2);
}

.common-details-box .profile-user-view-box .user-profile-img {
  padding: 0 30px 0 0;
  margin: 0 0 0 0;
}

.common-details-box .profile-user-view-box .user-profile-img .img-user {
  height: 140px;
  width: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

.common-details-box .profile-user-view-box .user-content-details h3 {
  padding: 0;
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 34px;
  color: #424242;
}

.common-details-box .profile-user-view-box .user-content-details .verify-user-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.common-details-box .profile-user-view-box .user-content-details .verify-user-label .img-verfied {
  margin: 0 15px 0 0;
}

.common-details-box .profile-user-view-box .user-content-details .verify-user-label p {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  color: #2A42E1;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.17);
}

.common-details-box .details-view-middle {
  margin: 0;
  padding: 40px 0 20px 0;
  position: relative;
}

.common-details-box .details-view-middle .row-view {
  margin: 0 0 20px 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.common-details-box .details-view-middle .row-view .label-div {
  padding: 0;
  margin: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  word-break: break-all;
}

.common-details-box .details-view-middle .row-view .label-div h4 {
  margin: 0 0 5px 0;
  padding: 0;
  font-weight: 500;
  font-size: 24px;
  color: #424242;
}

.common-details-box .details-view-middle .row-view .details-fill-view {
  padding: 0;
  margin: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  word-break: break-all;
}

.common-details-box .details-view-middle .row-view .details-fill-view p {
  margin: 0 0 5px 0;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #727272;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  word-break: break-word;
}

.common-details-box .details-view-middle .row-view .details-fill-view .label-span {
  width: 30%;
  font-size: 18px;
  color: #6DD400;
  font-weight: 700;
  font-style: italic;
  text-align: right;
  line-height: 24px;
}

.common-details-box .details-view-middle .row-view .details-fill-view .label-span.in-progress-span {
  color: #E6C229;
}

.status-action-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0px 40px 0px;
  border-top: 1px solid rgba(114, 114, 114, 0.2);
  width: 100%;
}

.status-action-footer .btn-complete {
  padding: 8px 30px;
}

/* End of Modal */
.common-forms-root {
  padding: 10px 0;
  margin: 0 0 30px 0;
}

.common-forms-root .form-group {
  margin-bottom: 30px;
}

.common-forms-root label {
  font-size: 20px;
  color: #181818;
  letter-spacing: 0;
  font-weight: 400;
  margin-bottom: 15px;
}

.common-forms-root .form-control {
  border: 1px solid #C7C7C7;
  height: 58px;
  background-color: transparent;
  border-radius: 0;
}

.common-forms-root .form-control:hover, .common-forms-root .form-control:focus, .common-forms-root .form-control:active {
  border: 1px solid #424242 !important;
  background-color: white;
  -webkit-box-shadow: 0 2px 14px 0 rgba(114, 114, 114, 0.19);
          box-shadow: 0 2px 14px 0 rgba(114, 114, 114, 0.19);
}

.common-forms-root .row.grid-row {
  margin-right: -10px;
  margin-left: -10px;
}

.common-forms-root .row.grid-row .plr-10 {
  padding-right: 10px;
  padding-left: 10px;
}

.common-forms-root .submit-div-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.common-forms-root .submit-div-row .btn-previous {
  background-color: white;
}

.common-forms-root .submit-div-row .mr-10 {
  margin-right: 10px !important;
}

.common-forms-root .submit-div-row .btn.btn-primary {
  min-width: 240px;
}

.position-relative-dropdown {
  position: relative;
}

.select2-dropdown-div {
  position: relative;
}

.select2-dropdown-div .select2-dropdown-body {
  display: none;
  padding: 4px 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #C7C7C7;
  position: absolute;
  width: 100%;
  top: -16px;
}

.select2-dropdown-div .select2-dropdown-body .select2-row {
  padding: 5px 20px 5px 20px;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 42px;
}

.select2-dropdown-div .select2-dropdown-body .select2-row .img-div {
  padding: 0;
  margin: 0;
  height: 35px;
  width: 35px;
}

.select2-dropdown-div .select2-dropdown-body .select2-row .img-div img {
  height: 35px;
  width: 35px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
}

.select2-dropdown-div .select2-dropdown-body .select2-row .text-div-half {
  padding: 0 0 0 10px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 35px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.select2-dropdown-div .select2-dropdown-body .select2-row h3 {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  color: #727272;
  letter-spacing: 0;
  line-height: 28px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.select2-dropdown-div .select2-dropdown-body .select2-row .badge-span {
  font-weight: 700;
  font-size: 14px;
  color: #424242;
  letter-spacing: 0;
  text-align: right;
  line-height: 24px;
  min-width: 30%;
}

.select2-dropdown-div .select2-dropdown-body .select2-row.active, .select2-dropdown-div .select2-dropdown-body .select2-row:hover {
  background: #F2F2F2;
}

.textarea-115 {
  min-height: 115px;
  resize: none;
}

.invite-box-root {
  padding: 0;
  margin: 0 0 0px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.invite-box-root .invite-box-card {
  padding: 0;
  margin: 0 16px 20px 0;
  background: white;
  border: 1px solid rgba(232, 232, 232, 0.6);
  -webkit-box-shadow: 0 4px 14px 1px rgba(234, 239, 248, 0.6);
          box-shadow: 0 4px 14px 1px rgba(234, 239, 248, 0.6);
  border-radius: 6px;
  min-width: 286px;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.invite-box-root .invite-box-card .top-card-box {
  padding: 20px 20px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(232, 232, 232, 0.6);
}

.invite-box-root .invite-box-card .top-card-box .img-user-thumb {
  padding: 0;
  margin: 0;
}

.invite-box-root .invite-box-card .top-card-box .img-user-thumb .img-user {
  height: 62px;
  width: 62px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.invite-box-root .invite-box-card .top-card-box .details-user {
  width: calc(100% - 62px);
  padding: 0 0 0 10px;
  margin: 0;
}

.invite-box-root .invite-box-card .top-card-box .details-user h4 {
  padding: 0;
  margin: 0 0 5px 0;
  font-weight: 500;
  font-size: 16px;
  color: #222222;
  letter-spacing: 0;
  text-decoration: underline;
}

.invite-box-root .invite-box-card .top-card-box .details-user p {
  font-size: 14px;
  color: #727272;
  padding: 0;
  margin: 0;
  line-height: 20px;
}

.invite-box-root .invite-box-card .top-card-box .details-user span.v-line-span {
  padding: 0 5px 0 6px;
}

.invite-box-root .invite-box-card.active, .invite-box-root .invite-box-card:hover {
  -webkit-box-shadow: 0 4px 14px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 14px 1px rgba(0, 0, 0, 0.1);
}

/* date-picker */
.gj-picker div[role=navigator] div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gj-picker-md table tr td.selected.gj-cursor-pointer div {
  background: #2a42e1;
}

.gj-datepicker .fa_calendar_icon.calender-icon {
  display: none;
}

/* End of date-picker */
.link.remove-link {
  font-weight: 700;
  font-size: 14px;
  color: #FF0052;
  letter-spacing: -0.14px;
  text-align: center;
  min-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.link.remove-link:hover, .link.remove-link:focus, .link.remove-link:active {
  color: #ff0011;
}

.note-div {
  padding: 35px 0 0 0;
  margin: 0;
  position: relative;
  min-height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.note-div .text-note {
  color: #424242;
  font-weight: 500;
  display: block;
}

.note-div p {
  font-size: 20px;
  color: #727272;
  line-height: 28px;
  font-weight: 400;
}

/* connection */
.connection-card {
  padding: 0;
  margin: 0 0px 20px 0;
  background: white;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 4px 14px 1px rgba(234, 239, 248, 0.6);
          box-shadow: 0 4px 14px 1px rgba(234, 239, 248, 0.6);
  border-radius: 6px;
  min-width: 100%;
}

.connection-card .top-card-box {
  padding: 15px 20px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.connection-card .top-card-box .img-user-thumb {
  padding: 0;
  margin: 0;
  min-width: 62px;
}

.connection-card .top-card-box .img-user-thumb .img-user {
  height: 62px;
  width: 62px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
}

.connection-card .top-card-box .img-user-thumb .connection-link-box {
  display: block;
}

.connection-card .top-card-box .details-user {
  width: calc(65% - 62px);
  padding: 0 0 0 10px;
  margin: 0;
}

.connection-card .top-card-box .details-user h4 {
  padding: 0;
  margin: 0 0 5px 0;
  font-weight: 500;
  font-size: 16px;
  color: #222222;
  letter-spacing: 0;
  text-decoration: underline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.connection-card .top-card-box .details-user p {
  font-size: 14px;
  color: #727272;
  padding: 0;
  margin: 0;
  line-height: 20px;
}

.connection-card .top-card-box .details-user span.v-line-span {
  padding: 0 5px 0 6px;
}

.connection-card .top-card-box .details-right {
  padding: 0;
  margin: 0;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.connection-card .top-card-box .details-right p {
  font-weight: 500;
  font-size: 12px;
  color: #2A42E1;
  letter-spacing: 0;
  text-align: right;
  margin: 0 0 16px 0;
  line-height: 18px;
}

.connection-card .top-card-box .details-right .label-connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connection-card .top-card-box .details-right .label-connect .img-icon {
  padding: 0;
  margin: 0 5px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.connection-card .top-card-box .details-right .label-connect .img-icon .icons-img-svg {
  width: 22px;
}

.connection-card .top-card-box .details-right .label-connect span.text-span {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  color: #2A42E1;
}

.connection-card .top-card-box .details-right .status-action {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.connection-card .top-card-box .details-right .message-row-div {
  min-height: calc(100% - 30px);
}

/* End of connection */
/* manage card */
.card-radio-root {
  padding: 0;
  margin: 0 0 20px 0;
  position: relative;
}

.card-radio-root .saved-card-box {
  background: #FFFFFF;
  margin: 0 0 20px 0;
  border: 1px solid rgba(232, 232, 232, 0.6);
  -webkit-box-shadow: 0 4px 14px 1px rgba(234, 239, 248, 0.6);
          box-shadow: 0 4px 14px 1px rgba(234, 239, 248, 0.6);
  border-radius: 6px;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.card-radio-root .saved-card-box .hold-click-label {
  cursor: pointer;
  width: 100%;
}

.card-radio-root .saved-card-box .top-card-body-box {
  padding: 20px 20px 0px 20px;
  margin: 0;
  position: relative;
  float: left;
  width: 100%;
}

.card-radio-root .saved-card-box .card-row-top {
  padding: 0;
  margin: 0;
  float: left;
  width: 100%;
  position: relative;
}

.card-radio-root .saved-card-box .card-row-top.mb-25 {
  margin: 0 0 15px 0;
}

.card-radio-root .saved-card-box p {
  padding: 0;
  margin: 0 0 2px 0;
  font-size: 12px;
  font-weight: 400;
  display: block;
  width: 100%;
  line-height: 16px;
  color: #727272;
}

.card-radio-root .saved-card-box h3 {
  padding: 0;
  margin: 0 0 5px 0;
  font-size: 18px;
  display: block;
  width: 100%;
  color: #424242;
  line-height: 24px;
  font-weight: 400;
  overflow: hidden;
  width: 100%;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-radio-root .saved-card-box .card-row-half-70 {
  padding: 0;
  margin: 0;
  width: 70%;
  float: left;
}

.card-radio-root .saved-card-box .card-row-half-30 {
  padding: 0;
  margin: 0;
  width: 30%;
  float: left;
}

.card-radio-root .saved-card-box .card-row-top .card-row-img-thumb {
  padding: 0;
  margin: 0;
  float: left;
  position: absolute;
  top: -35px;
  right: 0;
}

.card-radio-root .saved-card-box .radio-box {
  padding: 20px 20px 0 20px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  float: left;
}

.card-radio-root .saved-card-box .radio-box .radio-parent {
  padding: 0 10px 0 0;
  margin: 0;
  float: left;
}

.card-radio-root .saved-card-box .radio-box .checklist {
  margin: 0 0 0px 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-radio-root .saved-card-box .radio-box .checklist:focus {
  outline: none;
}

.card-radio-root .saved-card-box .radio-box .checklist label {
  padding: 0;
  margin: 0;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #222221;
}

.card-radio-root .saved-card-box .radio-box .checklist .form-radio {
  top: 0;
  height: 20px;
  width: 20px;
  border: 0;
  margin-right: 0px;
  border: 2px solid #424242;
}

.card-radio-root .saved-card-box .radio-box .checklist {
  margin: 0 0 0px 0;
  padding: 0;
  width: 100%;
}

.card-radio-root .saved-card-box .radio-box .checklist .form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  color: #666;
  top: 3px;
  height: 20px;
  width: 20px;
  border: 0;
  border-radius: 100%;
  cursor: pointer;
  margin-right: 0px;
  outline: none;
  color: #ffffff;
  border: 2px solid #424242;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.card-radio-root .saved-card-box .radio-box .checklist .txt_span {
  padding-left: 0;
  font-size: 14px;
  color: #222221;
  padding-top: 1px;
}

.card-radio-root .saved-card-box .radio-box .checklist .form-radio:checked::before {
  position: absolute;
  left: 0px;
  top: 0px;
  content: " ";
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  font-weight: 900;
  color: #666666;
  border: 3px solid #fff;
  border-radius: 100%;
  height: 16px;
  width: 16px;
}

.card-radio-root .saved-card-box .radio-box .checklist .form-radio:hover {
  background-color: #ffffff;
}

.card-radio-root .saved-card-box .radio-box .checklist .form-radio:checked {
  background-color: #2A42E1;
  border-color: #2A42E1;
}

.card-radio-root .saved-card-box .radio-box .checklist label {
  padding-left: 0;
  font-size: 16px;
  color: #222221;
  padding-top: 1px;
}

.card-radio-root .saved-card-box .bottom-card-body-box {
  padding: 0;
  margin: 0;
  border-top: 1px solid rgba(232, 232, 232, 0.6);
}

.card-radio-root .saved-card-box .bottom-card-body-box .btn.btn-remove {
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  color: #E90000;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  min-height: 40px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.card-radio-root .saved-card-box .bottom-card-body-box .btn.btn-remove:hover {
  background-color: #fafafa;
}

.card-radio-root .saved-card-box:hover {
  -webkit-box-shadow: 0 4px 14px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 14px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}

.card-radio-root .saved-card-box.active .radio-box .checklist .form-radio:checked {
  background-color: #2A42E1;
  border-color: #2A42E1;
}

.heading-title {
  padding: 0;
  margin: 0;
  position: relative;
}

.heading-title h2 {
  padding: 0;
  margin: 0 0 30px 0;
  font-weight: 500;
  font-size: 22px;
  color: #282D30;
  line-height: 28px;
  display: block;
  text-decoration: underline;
  width: 100%;
}

.common-payment-card-forms .form-control::-webkit-input-placeholder {
  color: #727272;
  font-weight: 300;
}

.common-payment-card-forms .form-control::-moz-placeholder {
  color: #727272;
  font-weight: 300;
}

.common-payment-card-forms .form-control:-ms-input-placeholder {
  color: #727272;
  font-weight: 300;
}

.common-payment-card-forms .form-control:-moz-placeholder {
  color: #727272;
  font-weight: 300;
}

/* End of manage card */
.password-box {
  padding: 0;
  margin: 0;
  position: relative;
}

.password-box .password-view-click {
  padding: 0;
  margin: 0;
  min-height: 52px;
  min-width: 52px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  color: rgba(151, 151, 151, 0.4);
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
  z-index: 9;
  cursor: pointer;
}

.password-box .password-view-click .password-view {
  color: rgba(151, 151, 151, 0.35);
  font-size: 22px;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.password-box .password-view-click .password-hide {
  color: #424242;
  font-size: 22px;
  -webkit-transition: 0.8s all;
  transition: 0.8s all;
}

.password-box .password-view-click:hover, .password-box .password-view-click:focus, .password-box .password-view-click:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.password-box .password-view-click:hover .password-view, .password-box .password-view-click:focus .password-view, .password-box .password-view-click:active .password-view {
  color: rgba(151, 151, 151, 0.8);
}

/* faq */
.accordion-faq .accordion .card {
  margin-bottom: 20px;
  border-radius: 0px;
  border: 1px solid #C7C7C7;
}

.accordion-faq .accordion .card .show .card-body {
  border-bottom: 0px solid #C7C7C7;
  border-color: #C7C7C7;
  padding: 20px;
}

.accordion-faq .accordion .card .card-header {
  margin-bottom: 0;
  padding: 0;
  border-color: #C7C7C7;
  background-color: #ffffff;
  border-bottom: 0px solid rgba(0, 0, 0, 0.125);
}

.accordion-faq .accordion .card .card-header h2 {
  line-height: 54px;
  font-weight: 500;
}

.accordion-faq .accordion .card .card-header h2 .btn-link {
  font-size: 20px;
  color: #424242;
  letter-spacing: -0.1px;
  font-weight: 500;
  line-height: 27px;
  text-decoration: none;
  padding: 18px 20px 15px 80px;
  text-align: left;
  width: 100%;
  position: relative;
  word-break: break-word;
  white-space: normal;
}

.accordion-faq .accordion .card .card-header h2 .btn-link.collapsed i:before {
  content: "\e9b1";
}

.accordion-faq .accordion .card .card-header h2 .btn-link i {
  position: absolute;
  left: -1px;
  top: -1px;
  height: calc(100% + 2px);
  background-color: #fff;
  width: 60px;
  font-size: 22px;
  color: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #C7C7C7;
}

.accordion-faq .accordion .card .card-header h2 .btn-link i:before {
  content: "\e996";
}

.accordion-faq .accordion .card .card-header h2 .btn-link:hover, .accordion-faq .accordion .card .card-header h2 .btn-link:focus {
  background-color: #fafafa;
}

.accordion-faq .accordion .card .card-header h2 .btn-link:hover i, .accordion-faq .accordion .card .card-header h2 .btn-link:focus i {
  background-color: #fafafa;
}

.accordion-faq .accordion .card .card-body {
  border-top: 1px solid #C7C7C7;
  background: #EEF4FF;
}

.accordion-faq .accordion .card .card-body p {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  color: #424242;
  letter-spacing: 0;
  line-height: 36px;
}

/* End of faq */
/* Profile */
.profile-card {
  padding: 0;
  margin: 0 0 30px 0;
  position: relative;
}

.profile-card .common-details-box {
  background-color: #FFFFFF;
  border: 1px solid rgba(232, 232, 232, 0.5);
  -webkit-box-shadow: 0 4px 14px 1px rgba(234, 239, 248, 0.6);
          box-shadow: 0 4px 14px 1px rgba(234, 239, 248, 0.6);
  border-radius: 6px;
}

/* End of profile */
/* Edit profile */
.edit-profile-section .step-content-inner {
  min-height: auto;
  padding-top: 0;
}

.edit-profile-section .mr-10 {
  margin-right: 10px !important;
}

.edit-profile-section .display-none {
  display: none;
}

.edit-profile-section .nav-tabs {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.edit-profile-section .btn-verified-link {
  color: #6DD400;
}

.edit-profile-section .btn-verified-link:hover, .edit-profile-section .btn-verified-link:focus, .edit-profile-section .btn-verified-link:active {
  color: #5eb304;
}

.edit-profile-section .max-input-div .select-box.select-custom2 {
  background-color: #fff;
}

.edit-profile-section .registration-box {
  width: 100%;
}

.edit-profile-section .provided-verified {
  position: relative;
}

.edit-profile-section .provided-verified .input-verified {
  font-weight: 700;
  font-size: 14px;
  color: #FF7404;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 15px;
  right: 20px;
}

.edit-profile-section .provided-verified .input-verified img.verified3 {
  margin: 0 5px 0 0;
}

.edit-profile-section .upload-doc-step .card-upload-doc {
  background: #FFFFFF;
  border: 0 solid #E8E8E8;
  -webkit-box-shadow: 0 4px 14px 1px rgba(234, 239, 248, 0.6);
          box-shadow: 0 4px 14px 1px rgba(234, 239, 248, 0.6);
  border-radius: 6px;
  min-height: 326px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.edit-profile-section .upload-doc-step .card-upload-doc p {
  font-weight: 400;
  font-size: 20px;
  color: #424242;
  letter-spacing: 0;
  text-align: center;
  line-height: 26px;
  padding: 0;
  margin: 0;
}

.edit-profile-section .upload-doc-step .card-upload-doc p .hight-light {
  font-weight: 500;
  color: #6DD400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: italic;
  margin: 5px 0 0 0;
  text-decoration: underline;
}

.img-box-root {
  padding: 0;
  margin: 0;
  position: relative;
  background: #FFFFFF;
  border: 1px solid rgba(232, 232, 232, 0.63);
  -webkit-box-shadow: 0 4px 14px 1px rgba(234, 239, 248, 0.6);
          box-shadow: 0 4px 14px 1px rgba(234, 239, 248, 0.6);
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img-box-root .img-thumb {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-box-root .img-thumb .img-upload {
  width: 100%;
  height: 286px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px 6px 0 0;
}

.remove-div {
  padding: 0;
  margin: 0;
  position: relative;
}

.remove-div .btn.btn-remove {
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #E90000;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  background-color: transparent;
}

/* End of edit profile */
/*  subscriptions-card-root  */
.subscriptions-card-root {
  padding: 0;
  margin: 0;
  position: relative;
}

.subscriptions-card-root .subscriptions-row {
  padding: 20px 30px 20px 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 130px;
  background: #FFFFFF;
  border: 1px solid rgba(232, 232, 232, 0.5);
  -webkit-box-shadow: 0 4px 14px 1px rgba(234, 239, 248, 0.6);
          box-shadow: 0 4px 14px 1px rgba(234, 239, 248, 0.6);
  border-radius: 4px;
  margin: 0px 0 20px 0;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.subscriptions-card-root .subscriptions-row p {
  padding: 0;
  margin: 0 0 5px 0;
  font-weight: 400;
  font-size: 20px;
  color: rgba(114, 114, 114, 0.4);
  letter-spacing: -0.1px;
}

.subscriptions-card-root .subscriptions-row h4 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  color: #424242;
  letter-spacing: -0.16px;
}

.subscriptions-card-root .subscriptions-row .icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscriptions-card-root .subscriptions-row .plr-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.subscriptions-card-root .subscriptions-row .img-subscription {
  width: 60px;
  margin: 0 auto;
}

.subscriptions-card-root .subscriptions-row .border-right1 {
  border-right: 1px solid #e3e3e3;
  margin-right: 30px;
}

.subscriptions-card-root .subscriptions-row .column1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  max-width: 10%;
}

.subscriptions-card-root .subscriptions-row .column4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}

.subscriptions-card-root .subscriptions-row.free-subscriptions-plan {
  background-image: linear-gradient(144deg, #232323 0%, #353535 100%);
  border-radius: 4px;
}

.subscriptions-card-root .subscriptions-row.free-subscriptions-plan p {
  color: rgba(255, 255, 255, 0.6);
}

.subscriptions-card-root .subscriptions-row.free-subscriptions-plan h4 {
  color: #FFFFFF;
}

.subscriptions-card-root .subscriptions-row.free-subscriptions-plan .border-right1 {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.subscriptions-card-root .subscriptions-row .btn-update-now-div {
  position: absolute;
  bottom: -24px;
  right: 30px;
}

.subscriptions-card-root .subscriptions-row .btn.btn-update {
  background: #2A42E1;
  border: 2px solid #642BDE;
  border-radius: 26px;
  min-height: 52px;
  font-weight: 700;
  font-size: 22px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  min-width: 240px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.subscriptions-card-root .subscriptions-row .btn.btn-update:hover, .subscriptions-card-root .subscriptions-row .btn.btn-update:focus, .subscriptions-card-root .subscriptions-row .btn.btn-update:active {
  background: #2A42E1;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 5px 15px 5px rgba(42, 66, 225, 0.2);
          box-shadow: 0 5px 15px 5px rgba(42, 66, 225, 0.2);
}

.subscriptions-card-root .subscriptions-row.premium-subscriptions-plan {
  padding: 20px 30px 50px 10px;
}

.subscriptions-card-root .subscriptions-row.premium-subscriptions-plan:hover, .subscriptions-card-root .subscriptions-row.premium-subscriptions-plan:focus, .subscriptions-card-root .subscriptions-row.premium-subscriptions-plan:active {
  -webkit-box-shadow: 0 6px 18px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 6px 18px 2px rgba(0, 0, 0, 0.05);
}

/*  End of subscriptions-card-root  */
.footer-step-plan .btn-previous {
  width: 100%;
  max-width: 240px;
}

/*  Successful Plan  */
.common-box.plan-event-action-box .icon-plan-event {
  padding: 15px;
  margin: 0 auto 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.common-box.plan-event-action-box .icon-plan-event .img-check-plan {
  width: 120px;
}

.common-box.plan-event-action-box .heading-box h3 {
  color: #424242;
}

.common-box.plan-event-action-box .heading-box h3::before {
  background-color: #6DD400;
}

.common-box.plan-event-action-box .content-box p {
  font-size: 20px;
  color: #727272;
  margin: 0 auto 30px auto;
  max-width: 650px;
}

/* End of Successful Plan  */
.empty-stats-card-root {
  padding: 0;
  margin: 0;
  position: relative;
}

.empty-stats-card-root .empty-stats-image-div {
  padding: 0;
  margin: 40px auto 60px auto;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.empty-stats-card-root h3 {
  padding: 0;
  margin: 0 0 15px 0;
  font-weight: 500;
  font-size: 32px;
  color: #424242;
  letter-spacing: -0.16px;
  text-align: center;
}

.empty-stats-card-root p {
  padding: 0;
  margin: 0 0 15px 0;
  font-size: 24px;
  font-weight: 400;
  color: rgba(114, 114, 114, 0.6);
  text-align: center;
  line-height: 38px;
}

.empty-stats-card-root .empty-stats-content-div {
  max-width: 700px;
  margin: 20px auto 0 auto;
  position: relative;
}

.empty-stats-card-root .btn-row-empty {
  padding: 0;
  margin: 30px auto 20px auto;
  text-align: center;
}

@media (min-width: 1025px) {
  .notifiaction-txt {
    display: none;
  }
}

@media (max-width: 767px) {
  header .header-div .width80 {
    width: 300px;
    max-width: 100%;
  }
  /* header */
  .dropdown.drop-left.dropdown-custom-top {
    background: #2A42E1;
    margin: 0 0 10px 0;
    display: block;
    min-height: auto;
  }
  .title-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 10px 0;
  }
  .nav-details-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 15px 0 0 0;
  }
  .nav-details-right .dropdown-menu:before {
    display: none;
  }
  .nav-details-right .dropdown-menu.show {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .nav-details-right .dropdown-menu.show li {
    padding-left: 0px !important;
  }
  .nav-details-right .notification-dropdown-group .btn.btn-default {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 15px;
  }
  .nav-details-right .notification-dropdown-group span.notifiaction-txt {
    margin: 0 0 0 10px;
    color: #fff;
    font-weight: 500;
  }
  .nav-details-right .notification-dropdown-group span.count-round {
    top: 12px;
    left: 26px;
  }
  .nav-details-right .notification-dropdown-group .notification-box .notification-body h5 {
    text-align: left;
  }
  .nav-details-right .notification-dropdown-group .notification-box .notification-body .div-notification-list-row .notif-desc {
    text-align: left;
  }
  .nav-details-right .user-drop-down {
    margin-left: 0;
  }
  .nav-details-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle {
    padding: 10px 10px 8px 10px;
  }
  .nav-details-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle::after {
    bottom: 20px;
  }
  /* End header */
  .data-table-root .table-custom .width-25 {
    width: 25%;
    min-width: 165px;
  }
  .grid-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .grid-50 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .grid-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .card-view-list-root .top-row-div .grid-50 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .event-view-main-root {
    margin: 10px 0 30px 0;
  }
  .tab-view-root .top-list-nav-tabs .nav.nav-tabs {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
  }
  .tab-view-root .top-list-nav-tabs .nav.nav-tabs li {
    min-width: auto;
    display: inline-block;
    margin: 0 30px 0 0;
  }
  .tab-view-root .top-list-nav-tabs .nav.nav-tabs li a {
    font-size: 14px;
    line-height: 20px;
  }
  .add-plus-div {
    bottom: 10px;
    right: 10px;
  }
  .btn-round.btn-plus {
    height: 48px;
    width: 48px;
  }
  .btn-round.btn-plus i.material-icons {
    font-size: 32px;
  }
  .dropdown-general.dropdown-dot .dropdown-menu {
    right: auto;
    left: 0px !important;
    -webkit-transform: translate3d(-190px, 34px, 0px) !important;
            transform: translate3d(-190px, 34px, 0px) !important;
  }
  .event-view-number-top p {
    text-align: center;
    margin: 0 0 20px 0;
    display: block;
    width: 100%;
  }
  .img-full-calendar {
    margin: 0 0 20px 0;
  }
  .data-table-root.full-table-root span.date-span {
    width: 100%;
    display: block;
    margin: 0 0 3px 0;
  }
  .data-table-root.full-table-root span.v-line-span {
    display: none;
  }
  .data-table-root.full-table-root span.time-span {
    width: 100%;
    display: block;
  }
  /* modal */
  .modal-common .common-box .event-time-view {
    padding: 25px 20px 20px 20px;
  }
  .modal-common .common-box .event-time-view p {
    font-size: 18px;
  }
  .modal-common .common-box .event-time-view h2 {
    font-size: 24px;
    line-height: 36px;
  }
  .modal-common .modal-footer2 {
    padding: 15px 15px 15px 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .modal-common .modal-footer4 {
    padding: 0px 15px 0px 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .btn-complete {
    padding: 6px 30px;
    min-height: 46px;
    font-size: 18px;
    min-width: 150px;
  }
  .btn-previous {
    padding: 6px 30px;
    min-height: 46px;
    font-size: 18px;
    min-width: 150px;
  }
  .btn.btn-big-cancel {
    min-height: 46px;
    font-size: 18px;
    min-width: 46px;
  }
  .modal-dialog {
    margin: 2rem .5rem;
  }
  .safety-image-group .safety-select-box .img-fluid {
    max-width: 65px;
    height: auto;
  }
  .status-span.status-big-span {
    padding: 6px 20px;
    min-height: auto;
    font-size: 16px;
  }
  /* End of modal */
  .note-div {
    padding: 0px 0 20px 0;
    min-height: auto;
  }
  .note-div p {
    font-size: 16px;
    line-height: 24px;
  }
  .invite-box-root {
    overflow-x: scroll;
  }
  .common-forms-root label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .common-forms-root .form-control {
    font-size: 16px;
    padding: 10px 15px;
    min-height: 50px;
    height: auto;
  }
  /* connection */
  .connection-card .top-card-box {
    padding: 10px 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .connection-card .top-card-box .img-user-thumb {
    min-width: 60px;
  }
  .connection-card .top-card-box .img-user-thumb .img-user {
    height: 60px;
    width: 60px;
  }
  .connection-card .top-card-box .details-user {
    width: calc(100% - 60px);
    padding: 0 0 0 15px;
  }
  .connection-card .top-card-box .details-right {
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 10px 0 0px 75px;
  }
  .connection-card .top-card-box .details-right p {
    margin: 0px 0 5px 0;
    line-height: 18px;
  }
  .connection-card .top-card-box .details-right .status-action {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  /* End of connection */
  /* Search */
  .page-header .connection-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-header .connection-right .search-div {
    margin-bottom: 10px;
  }
  .page-header .connection-right .search-div .search-box .form-search {
    width: 100%;
    padding-right: 40px;
    padding-left: 15px;
  }
  .page-header .connection-right .search-div .search-box .form-search::-webkit-input-placeholder {
    color: #727272;
  }
  .page-header .connection-right .search-div .search-box .form-search::-moz-placeholder {
    color: #727272;
  }
  .page-header .connection-right .search-div .search-box .form-search:-ms-input-placeholder {
    color: #727272;
  }
  .page-header .connection-right .search-div .search-box .form-search:-moz-placeholder {
    color: #727272;
  }
  .page-header .connection-right .search-div .search-box .icon-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page-header .connection-right .search-div .search-box .icon-search-cancel {
    display: none;
  }
  .page-header .connection-right .search-div .search-box.full-width-input .icon-search {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .page-header .connection-right .search-div .search-box.full-width-input .icon-search-cancel {
    display: none !important;
  }
  .page-header .connection-right .btn.btn-primary.btn-primary2 {
    width: 100%;
  }
  /* End of Search */
  .common-details-box {
    padding: 40px 15px;
  }
  .common-details-box .profile-user-view-box {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 0 30px 0;
  }
  .common-details-box .profile-user-view-box .user-profile-img {
    padding: 0 15px 0 0;
  }
  .common-details-box .profile-user-view-box .user-profile-img .img-user {
    width: 70px;
    height: 70px;
  }
  .common-details-box .profile-user-view-box .user-content-details {
    padding: 5px 0 0 0;
  }
  .common-details-box .profile-user-view-box .user-content-details h3 {
    font-size: 24px;
    margin: 0 0 5px 0;
  }
  .common-details-box .profile-user-view-box .user-content-details .verify-user-label p {
    font-size: 16px;
  }
  .common-details-box .profile-user-view-box .user-content-details .verify-user-label .img-verfied {
    margin: 0 5px 0 0;
    width: 30px;
  }
  .common-details-box .details-view-middle {
    padding: 30px 0 10px 0;
  }
  .common-details-box .details-view-middle .row-view .label-div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .common-details-box .details-view-middle .row-view .label-div h4 {
    font-size: 20px;
    margin: 0 0 0px 0;
  }
  .common-details-box .details-view-middle .row-view .details-fill-view {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .common-details-box .details-view-middle .row-view .details-fill-view p {
    font-size: 20px;
    margin: 0 0 0px 0;
    width: 100%;
  }
  .common-details-box .details-view-middle .row-view .details-fill-view .label-span {
    width: 100%;
    text-align: left;
    font-size: 14px;
  }
  .common-details-box .details-view-middle .row-view .span-breack {
    display: inline-block;
  }
  .status-action-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0px 20px 0px;
    border-top: 1px solid rgba(114, 114, 114, 0.2);
    width: 100%;
  }
  .status-action-footer .btn-complete {
    padding: 6px 30px;
    min-height: 46px;
    font-size: 18px;
    min-width: 150px;
  }
  /* Manage Cards */
  .common-forms-root .submit-div-row .btn.btn-primary {
    min-width: 150px;
  }
  /* End of Manage Cards */
  /* faq */
  .accordion-faq .accordion .card {
    margin-bottom: 10px;
  }
  .accordion-faq .accordion .card .show .card-body {
    padding: 10px 15px 10px 15px;
  }
  .accordion-faq .accordion .card .show .card-body p {
    font-size: 16px;
    line-height: 28px;
  }
  .accordion-faq .accordion .card .card-header h2 {
    line-height: 45px;
  }
  .accordion-faq .accordion .card .card-header h2 .btn-link {
    padding: 12px 15px 12px 60px;
    font-size: 16px;
  }
  .accordion-faq .accordion .card .card-header h2 .btn-link i {
    width: 50px;
  }
  .accordion-faq .accordion .card .card-body {
    padding: 10px 15px 10px 15px;
  }
  .accordion-faq .accordion .card .card-body p {
    font-size: 16px;
    line-height: 28px;
  }
  /* End of faq */
  /*  subscriptions-card-root  */
  .subscriptions-card-root .subscriptions-row {
    padding: 15px 15px 20px 10px;
    min-height: 100px;
  }
  .subscriptions-card-root .subscriptions-row p {
    font-size: 14px;
    margin: 0 0 0px 0;
  }
  .subscriptions-card-root .subscriptions-row h4 {
    font-size: 20px;
  }
  .subscriptions-card-root .subscriptions-row .img-subscription {
    width: 45px;
    margin: 0;
  }
  .subscriptions-card-root .subscriptions-row .btn.btn-update {
    min-height: 46px;
  }
  .subscriptions-card-root .subscriptions-row .border-right1 {
    margin-right: 20px;
  }
  .subscriptions-card-root .subscriptions-row .column1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45px;
            flex: 0 0 45px;
    max-width: 45px;
  }
  .subscriptions-card-root .subscriptions-row .column2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 45px);
            flex: 0 0 calc(100% - 45px);
    max-width: calc(100% - 45px);
  }
  .subscriptions-card-root .subscriptions-row .border-right1 {
    margin-right: 0;
    padding-left: 10px;
    border-right: none !important;
  }
  .subscriptions-card-root .subscriptions-row .column3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    max-width: 45%;
    margin: 15px 0 0 0;
  }
  .subscriptions-card-root .subscriptions-row .column4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55%;
            flex: 0 0 55%;
    max-width: 55%;
    margin: 15px 0 0 0;
  }
  .subscriptions-card-root .subscriptions-row .btn-update-now-div {
    position: absolute;
    bottom: -20px;
    right: 15px;
  }
  .subscriptions-card-root .subscriptions-row .btn.btn-update {
    min-height: 42px;
    font-size: 16px;
    min-width: auto;
    padding: 5px 30px;
  }
  .subscriptions-card-root .subscriptions-row.premium-subscriptions-plan {
    padding: 20px 15px 40px 10px;
  }
  .footer-step-plan .btn-previous {
    width: auto;
    max-width: none;
    min-width: auto;
  }
  .common-box.plan-event-action-box .icon-plan-event .img-check-plan {
    width: 80px;
  }
  .common-box.plan-event-action-box .heading-box h3 {
    font-size: 20px;
  }
  .common-box.plan-event-action-box .content-box p {
    font-size: 16px;
  }
  /* End of subscriptions-card-root  */
  .empty-stats-card-root .empty-stats-image-div {
    margin: 20px auto 40px auto;
  }
  .empty-stats-card-root .empty-stats-image-div .empty-record {
    width: 200px;
  }
  .empty-stats-card-root h3 {
    margin: 0 0 10px 0;
    font-size: 24px;
  }
  .empty-stats-card-root p {
    margin: 0 0 10px 0;
    font-size: 18px;
    line-height: 28px;
  }
  /* update css */
  .card-view-main {
    margin: 0 0 30px 0;
  }
  /* End of update css */
}

@media (max-width: 360px) {
  .btn.btn-primary {
    padding: 6px 20px;
    min-height: 46px;
    font-size: 16px;
    min-width: 120px;
  }
  .btn-previous {
    padding: 6px 20px;
    min-height: 46px;
    font-size: 16px;
    min-width: 120px;
  }
  .common-forms-root .submit-div-row .btn-previous {
    padding: 5px 20px;
  }
  .common-forms-root .submit-div-row .btn.btn-primary {
    padding: 5px 20px;
    min-width: auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* header */
  header .header-div .logo-div .logo_link {
    width: 200px;
  }
  .dropdown.drop-left.dropdown-custom-top {
    background: #2A42E1;
    margin: 0 0 10px 0;
    display: block;
    min-height: auto;
  }
  .nav-details-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 15px 0 0 0;
  }
  .nav-details-right .dropdown-menu:before {
    display: none;
  }
  .nav-details-right .dropdown-menu.show {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .nav-details-right .dropdown-menu.show li {
    padding-left: 0px !important;
  }
  .nav-details-right .notification-dropdown-group .btn.btn-default {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 15px;
  }
  .nav-details-right .notification-dropdown-group span.notifiaction-txt {
    margin: 0 0 0 10px;
    color: #fff;
    font-weight: 500;
  }
  .nav-details-right .notification-dropdown-group span.count-round {
    top: 12px;
    left: 26px;
  }
  .nav-details-right .notification-dropdown-group .notification-box .notification-body h5 {
    text-align: left;
  }
  .nav-details-right .notification-dropdown-group .notification-box .notification-body .div-notification-list-row .notif-desc {
    text-align: left;
  }
  .nav-details-right .user-drop-down {
    margin-left: 0;
  }
  .nav-details-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle {
    padding: 10px 10px 8px 10px;
  }
  .nav-details-right .user-drop-down .dropdown-custom-top .btn.dropdown-toggle::after {
    bottom: 20px;
  }
  /* End header */
  .card-view-main .card-view-div {
    padding: 10px 15px;
    min-height: 82px;
  }
  .card-view-main .card-view-div .icon-view {
    width: 50px;
    height: 50px;
  }
  .card-view-main .card-view-div .details-view-right {
    padding: 0 0px 0 10px;
    width: calc(100% - 50px);
  }
  .card-view-main .card-view-div .details-view-right .btn-view {
    font-size: 14px;
  }
  .data-table-root .table-custom .width-25 {
    width: 25%;
    min-width: 165px;
  }
  .grid-30 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%;
  }
  .grid-50 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .grid-70 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    max-width: 60%;
  }
  .card-view-list-root .top-row-div .grid-50 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .add-plus-div {
    bottom: 10px;
    right: 10px;
  }
  .btn-round.btn-plus {
    height: 48px;
    width: 48px;
  }
  .btn-round.btn-plus i.material-icons {
    font-size: 32px;
  }
  .dropdown-general.dropdown-dot .dropdown-menu {
    right: auto;
    left: 0px !important;
    -webkit-transform: translate3d(-190px, 34px, 0px) !important;
            transform: translate3d(-190px, 34px, 0px) !important;
  }
  .data-table-root.full-table-root span.date-span {
    width: 100%;
    display: block;
    margin: 0 0 3px 0;
  }
  .data-table-root.full-table-root span.v-line-span {
    display: none;
  }
  .data-table-root.full-table-root span.time-span {
    width: 100%;
    display: block;
  }
  .invite-box-root {
    overflow-x: scroll;
  }
  .event-view-number-top p {
    text-align: left;
    margin: 0 0 20px 0;
    display: block;
    width: 100%;
  }
  /* connection */
  .connection-card .top-card-box {
    padding: 10px 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .connection-card .top-card-box .img-user-thumb {
    min-width: 40px;
  }
  .connection-card .top-card-box .img-user-thumb .img-user {
    height: 40px;
    width: 40px;
  }
  .connection-card .top-card-box .details-user {
    width: calc(60% - 40px);
    padding: 0 0 0 10px;
  }
  .connection-card .top-card-box .details-user .date-span {
    display: block;
  }
  .connection-card .top-card-box .details-user span.v-line-span {
    display: none;
  }
  .connection-card .top-card-box .details-user .time-span {
    display: block;
  }
  .connection-card .top-card-box .details-right {
    width: 40%;
  }
  .connection-card .top-card-box .details-right p {
    margin: 0px 0 5px 0;
    line-height: 18px;
  }
  .btn-cancel-block .fe-custom {
    margin: 0 5px 0 0;
  }
  .modal-big-width .modal-dialog {
    max-width: 700px;
  }
  .common-details-box .profile-user-view-box {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 0 30px 0;
  }
  .common-details-box .profile-user-view-box .user-profile-img {
    padding: 0 15px 0 0;
  }
  .common-details-box .profile-user-view-box .user-profile-img .img-user {
    width: 70px;
    height: 70px;
  }
  .common-details-box .profile-user-view-box .user-content-details {
    padding: 5px 0 0 0;
  }
  .common-details-box .profile-user-view-box .user-content-details h3 {
    font-size: 24px;
    margin: 0 0 5px 0;
  }
  .common-details-box .profile-user-view-box .user-content-details .verify-user-label p {
    font-size: 16px;
  }
  .common-details-box .profile-user-view-box .user-content-details .verify-user-label .img-verfied {
    margin: 0 5px 0 0;
    width: 30px;
  }
  .common-details-box .details-view-middle {
    padding: 30px 0 10px 0;
  }
  .common-details-box .details-view-middle .row-view .label-div h4 {
    font-size: 20px;
    line-height: 24px;
  }
  .common-details-box .details-view-middle .row-view .details-fill-view p {
    font-size: 20px;
    width: 100%;
    line-height: 24px;
  }
  .common-details-box .details-view-middle .row-view .details-fill-view .label-span {
    font-size: 14px;
  }
  .common-details-box .details-view-middle .row-view .span-breack {
    display: inline-block;
  }
  .btn.btn-big-cancel {
    min-height: 46px;
    font-size: 18px;
    min-width: 46px;
  }
  .status-action-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0px 20px 0px;
    border-top: 1px solid rgba(114, 114, 114, 0.2);
    width: 100%;
  }
  .status-action-footer .btn-complete {
    padding: 6px 30px;
    min-height: 46px;
    font-size: 18px;
    min-width: 150px;
  }
  /* End of connection */
  /* faq */
  .accordion-faq .accordion .card {
    margin-bottom: 10px;
  }
  .accordion-faq .accordion .card .show .card-body {
    padding: 10px 15px 10px 15px;
  }
  .accordion-faq .accordion .card .show .card-body p {
    font-size: 16px;
    line-height: 28px;
  }
  .accordion-faq .accordion .card .card-header h2 {
    line-height: 45px;
  }
  .accordion-faq .accordion .card .card-header h2 .btn-link {
    padding: 12px 15px 12px 60px;
    font-size: 16px;
  }
  .accordion-faq .accordion .card .card-header h2 .btn-link i {
    width: 50px;
  }
  .accordion-faq .accordion .card .card-body {
    padding: 10px 15px 10px 15px;
  }
  .accordion-faq .accordion .card .card-body p {
    font-size: 16px;
    line-height: 28px;
  }
  /* End of faq */
  /*  subscriptions-card-root  */
  .subscriptions-card-root .subscriptions-row {
    padding: 20px 15px 20px 10px;
    min-height: 100px;
  }
  .subscriptions-card-root .subscriptions-row p {
    font-size: 16px;
  }
  .subscriptions-card-root .subscriptions-row h4 {
    font-size: 22px;
  }
  .subscriptions-card-root .subscriptions-row .img-subscription {
    width: 45px;
  }
  .subscriptions-card-root .subscriptions-row .btn.btn-update {
    min-height: 46px;
  }
  .subscriptions-card-root .subscriptions-row .border-right1 {
    margin-right: 20px;
  }
  .subscriptions-card-root .subscriptions-row.premium-subscriptions-plan {
    padding: 20px 30px 40px 10px;
  }
  /* End of subscriptions-card-root  */
}
/*# sourceMappingURL=custom.css.map */