<app-loader [formload]="formload" *ngIf="formload"></app-loader>
<section class="authntication-section">
  <div class="authntication-inner step-content-inner">
      <div class="container container-1000">
          <div class="row justify-content-center">
              <div class="col-xl-12 col-lg-12 col-md-12">
                  <div class="authntication-box-header">
                      <h2>Registration</h2>
                      <p>Have an account? <a href="javascript:void(0)" (click)="gotoRoute('sign-in')">Login here</a></p>
                  </div>
                  <div class="registration-box">
                          <div class="step-header">
                              <ul class="nav nav-tabs">
                                  <!-- <li class="active-tab"><a data-toggle="tab"  class="active" href="#information">Information</a></li> -->
                                  <li><a  (click)="gotostp(1)" [class.active]="form_step == 1" href="javascript:void(0)">Information</a></li>
                                  <li><a  (click)="gotostp(2)" [class.active]="form_step == 2" href="javascript:void(0)">Profile setup</a></li>
                                  <li><a  (click)="gotostp(3)" [class.active]="form_step == 3" href="javascript:void(0)">Upload Document</a></li>
                                  <li><a  (click)="gotostp(4)"  [class.active]="form_step == 4" href="javascript:void(0)">Payment</a></li>
                              </ul>
                          </div>


                              <div class="tab-content step-content">
                                <form class="form sign-up__form" [formGroup]="signupForm" >

                                  <!-- wrapper  -->
                                  <div id="information" class="tab-pane fade in  active show " *ngIf="form_step == 1">
                                      <div class="tab-pane-inner information-step">

                                          <div class="row">
                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                      <label>Email</label>
                                                      <input type="email" (blur)="verifyForm('email')" [formControl]="signupForm.controls['email']" name="email" class="form-control" placeholder="Enter Email ID" />
                                                      <p class="text-danger" *ngIf="signupForm.controls.email.invalid && (signupForm.controls.email.dirty || signupForm.controls.email.touched || submitted1)">Email Address is required</p>
                                                      <p class="text-danger" *ngIf="signupForm.controls.email.valid && is_exist_email">This email address is already in use with another account , try with unique email address.</p>
                                                  </div>
                                              </div>

                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                      <label>Phone number</label>
                                                      <div class="max-input-div">

                                                          <input type="text"
                                                            [formControl]="signupForm.controls['phone']"
                                                            class="form-control"
                                                            name="phone_no"
                                                            placeholder="Enter mobile number"
                                                            (blur)="verifyForm('phone')"
                                                            ng2TelInput [ng2TelInputOptions]="{initialCountry: 'us'}"
                                                            (hasError)="hasError($event)" (ng2TelOutput)="getNumber($event)"
                                                            (countryChange)="onCountryChange($event)"
                                                            [textMask]="{mask: mask}"
                                                          />
                                                          <p class="text-danger" *ngIf="signupForm.controls.phone.hasError('required') && (signupForm.controls.phone.dirty || signupForm.controls.phone.touched || submitted1)">Phone number is required</p>
                                                          <p class="text-danger" *ngIf="signupForm.controls.phone.hasError('PhoneTen') && (signupForm.controls.phone.dirty || signupForm.controls.phone.touched || submitted1)">Not a valid number</p>
                                                          <p class="text-danger" *ngIf="signupForm.controls.phone.valid && is_exist_phone">This phone number is already in use with another account , try with unique phone number.</p>
                                                      </div>
                                                  </div>
                                              </div>

                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                      <label>First name</label>
                                                      <input type="text" class="form-control" [formControl]="signupForm.controls['first_name']" name="first_name" id="" placeholder="Enter first name" />
                                                      <p class="text-danger" *ngIf="signupForm.controls.first_name.invalid && (signupForm.controls.first_name.dirty || signupForm.controls.first_name.touched || submitted1)">First name is required</p>
                                                  </div>
                                              </div>

                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                      <label>Last name</label>
                                                      <input type="text" class="form-control" [formControl]="signupForm.controls['last_name']" name="last_name" id="" placeholder="Enter last name" />
                                                      <p class="text-danger" *ngIf="signupForm.controls.last_name.invalid && (signupForm.controls.last_name.dirty || signupForm.controls.last_name.touched || submitted1)">Last name is required</p>
                                                  </div>
                                              </div>

                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                      <label>Password</label>
                                                      <input [formControl]="signupForm.controls['password']" type="password" class="form-control" name="" id="" placeholder="Enter password" />
                                                      <p class="text-danger" *ngIf="signupForm.controls.password.hasError('required') && (signupForm.controls.password.dirty || signupForm.controls.password.touched || submitted1)">Password is required</p>
										                                  <p class="text-danger" *ngIf="signupForm.controls.password.hasError('minlength') && (signupForm.controls.password.dirty || signupForm.controls.password.touched || submitted1)">Password must be 8 characters long</p>
                                                  </div>
                                              </div>

                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                      <label>Confirm Password</label>
                                                      <input [formControl]="signupForm.controls['confirm_password']" type="password" class="form-control" name="" id="" placeholder="Enter confirm password" />
                                                      <p class="text-danger" *ngIf="signupForm.controls.confirm_password.invalid && (signupForm.controls.confirm_password.dirty || signupForm.controls.confirm_password.touched || submitted1)">Confirm Password not match</p>
                                                  </div>
                                              </div>

                                          </div>

                                          <div class="footer-step z-index2">
                                              <div class="container container-1000">
                                                  <div class="row justify-content-center">
                                                      <div class="col-lg-6 col-6">
                                                          <button (click)="gotostp(2)" class="btn btn-common btn-next ">Next</button>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>

                                      </div>
                                  </div>

                                  <div id="profile-setup" class="tab-pane fade in  active show  " *ngIf="form_step == 2">
                                      <div class="tab-pane-inner profile-step">

                                          <div class="row">

                                              <div class="col-lg-6 col-md-6">
                                                  <div class="profile-pic-upload">
                                                      <div class="circle">
                                                      <img class="profile-pic"  src="assets/images/profile.png"  *ngIf="previewImg ==''"/>
                                                      <img class="profile-pic"  src="{{previewImg}}"  *ngIf="previewImg !=''"/>
                                                      <label class="filelabel-icon" for="file-uploadpic">
                                                          <i class="material-icons"> camera_alt </i>
                                                      </label>
                                                      </div>
                                                      <div class="p-image">
                                                          <label class="file-uploadpic-label" for="file-uploadpic"><span class="span-block">Upload profile picture</span> </label>
                                                          <input class="file-upload" (change)="onFileChange($event)" id="file-uploadpic" type="file" accept="image/*"/>

                                                      </div>

                                                  </div>
                                                  <p class="text-danger" *ngIf="signupForm.controls.image.invalid && (signupForm.controls.image.dirty || signupForm.controls.image.touched || submitted2)">Profile picture is required</p>
                                              </div>

                                              <div class="col-lg-6 col-md-6">
                                                  <div class="form-group form-group-112">
                                                      <label>Gender</label>
                                                      <div class="radio-common">
                                                          <div class="custom-control custom-radio custom-control-inline">
                                                              <input [formControl]="signupForm.controls['gender']" type="radio" class="custom-control-input" id="Male" name="Gender" value="male" >
                                                              <label class="custom-control-label" for="Male">Male</label>
                                                          </div>
                                                          <div class="custom-control custom-radio custom-control-inline">
                                                              <input [formControl]="signupForm.controls['gender']" type="radio" class="custom-control-input" id="Female" name="Gender" value="female">
                                                              <label class="custom-control-label" for="Female">Female</label>
                                                          </div>
                                                      </div>
                                                      <p class="text-danger" *ngIf="signupForm.controls.gender.invalid && (signupForm.controls.gender.dirty || signupForm.controls.gender.touched || submitted2)">Please select gender</p>
                                                  </div>
                                              </div>

                                              <div class="col-lg-12">
                                                <mat-form-field >
                                                  <input  [max]="maxDate" matInput [matDatepicker] = "picker" [formControl]="signupForm.controls['dob']" placeholder = "Birth date" (dateChange)="addEvent('change', $event)">
                                                  <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
                                                  <mat-datepicker #picker></mat-datepicker>

                                               </mat-form-field>
                                               <p class="text-danger" *ngIf="signupForm.controls.dob.invalid && (signupForm.controls.dob.dirty || signupForm.controls.dob.touched || submitted2)">Birth date is required</p>
                                              </div>

                                              <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>State</label>
                                                    <input type="text" [formControl]="signupForm.controls['state']" class="form-control" name="" id="" placeholder="Enter state" />
                                                    <p class="text-danger" *ngIf="signupForm.controls.state.invalid && (signupForm.controls.state.dirty || signupForm.controls.state.touched || submitted2)">State name is required</p>
                                                </div>
                                            </div>

                                              <div class="col-lg-6">
                                                  <div class="form-group">
                                                      <label>City</label>
                                                      <input type="text" [formControl]="signupForm.controls['city']" class="form-control" name="" id="" placeholder="Enter city" />
                                                      <p class="text-danger" *ngIf="signupForm.controls.city.invalid && (signupForm.controls.city.dirty || signupForm.controls.city.touched || submitted2)">City name is required</p>
                                                  </div>
                                              </div>



                                          </div>

                                          <div class="footer-step">
                                              <div class="container container-1000">
                                                  <div class="row justify-content-center">
                                                      <div class="col-lg-6 col-6">
                                                          <button (click)="gotostp(1)" class="btn btn-common-icon-link btn-previous"> <i class="fe fe-arrow-left"></i> Previous</button>
                                                      </div>
                                                      <div class="col-lg-6 col-6">
                                                          <button (click)="gotostp(3)" class="btn btn-common btn-next">Next</button>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>

                                      </div>
                                  </div>

                                  <div id="upload-document" class="tab-pane fade in  active show " *ngIf="form_step == 3">
                                      <div class="tab-pane-inner upload-step">

                                          <div class="row">

                                              <div class="col-lg-12">
                                                  <div class="upload-dropbox-file">
                                                      <div class="dropbox-right ">

                                                          <div class="dropbox-center-div wow fadeInRight" >
                                                              <div class="drag-drop-center">
                                                                  <div class="dropzone-100" id="dropzone">
                                                                      <form class="dropzone needsclick" id="my-awesome-dropzone" action="/upload">
                                                                          <div class="dz-message needsclick">
                                                                              <div class="center-text-zone">
                                                                                  <h5>Please upload your digital photo copy with your driving license </h5>
                                                                                  <p>(acceptable forms of ID include passport, state ID, driving licence )</p>
                                                                                  <ngx-dropzone (change)="onSelect($event)">
                                                                                    <ngx-dropzone-label>
                                                                                      <label class="btn btn-white-upload"> <i class="fe fe-paperclip"></i> Upload document</label>
                                                                                    </ngx-dropzone-label>
                                                                                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                                                                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                                                                    </ngx-dropzone-preview>
                                                                                </ngx-dropzone>

                                                                              </div>
                                                                          </div>
                                                                      </form>
                                                                  </div>

                                                              </div>
                                                          </div>

                                                      </div>
                                                  </div>
                                                  <p class="text-danger" *ngIf="signupForm.controls.documents.invalid && (submitted3)">Documents are required</p>

                                              </div>

                                          </div>

                                          <div class="footer-step">
                                              <div class="container container-1000">
                                                  <div class="row justify-content-center">
                                                      <div class="col-lg-6 col-6">
                                                          <button (click)="gotostp(2)" class="btn btn-common-icon-link btn-previous"> <i class="fe fe-arrow-left"></i> Previous</button>
                                                      </div>
                                                      <div class="col-lg-6 col-6">
                                                          <button (click)="gotostp(4)" class="btn btn-common btn-next">Next</button>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>

                                      </div>
                                  </div>

                                  <div id="payment" class="tab-pane fade in  active show " [hidden]="form_step != 4" >
                                      <div class="tab-pane-inner payment-step">
                                          <div class="row">
                                            <div class="col-lg-12">
                                              <div class="form-group">
                                                  <label>Crad holder name</label>
                                                  <input type="text" [formControl]="signupForm.controls['card_holder_name']" class="form-control" name="" id="" placeholder="Enter crad holder name" />
                                                  <p class="text-danger" *ngIf="signupForm.controls.card_holder_name.invalid && (signupForm.controls.card_holder_name.dirty || signupForm.controls.card_holder_name.touched || submitted4)">State name is required</p>
                                              </div>
                                          </div>
                                              <div class="col-lg-12">
                                                <div class="form-group" >
                                                  <label>Crad Detail</label>
                                                <div id="card-element" class="field gray-form-border"></div>
                                                <p class="text-danger" *ngIf="card_validation != '' && (submitted4)">{{ card_validation }}</p>
                                                </div>
                                              </div>




                                              <div class="col-lg-12">
                                                  <div class="custom-control custom-checkbox">
                                                      <input type="checkbox" [formControl]="signupForm.controls['term']" class="custom-control-input" id="defaultUnchecked" value="yes">
                                                      <label class="custom-control-label" for="defaultUnchecked">I accept the terms and conditions by submitting this order.</label>

                                                  </div>
                                                  <p class="text-danger" *ngIf="signupForm.controls.term.invalid && (submitted4)">Accept the terms</p>
                                              </div>


                                          </div>

                                          <div class="footer-step">
                                              <div class="container container-1000">
                                                  <div class="row justify-content-center">
                                                      <div class="col-lg-6 col-6">
                                                          <button (click)="gotostp(3)" class="btn btn-common-icon-link btn-previous"> <i class="fe fe-arrow-left"></i> Previous</button>
                                                      </div>
                                                      <div class="col-lg-6 col-6">
                                                          <button (click)="gotostp(5)" class="btn btn-common btn-next">Pay Now</button>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                </form>
                              </div>
                              <!-- wrapper  -->








                  </div>


              </div>
          </div>
      </div>
  </div>
</section><!--  end of banner  -->
