<app-loader [formload]="formload" *ngIf="formload"></app-loader>
<section class="authntication-section">
  <div class="authntication-inner">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-xl-6 col-lg-6 col-md-8">
                  <div class="authntication-box-header">
                      <h2>Email verfication</h2>
                      <p>An email with a verification code has been sent to your email address!</p>
                  </div>
                  <div class="authntication-box">
                      <form class="">
                          <div class="form-group forgot-password">
                              <label>Email</label>
                              <input type="text" class="form-control "  [(ngModel)]="email"  name="email" id="email" placeholder="Enter Email ID"/>
                              <p class="pull-right"> <a href="javascript:void(0);" (click)="resend()" class="pull-right">Click here to resend email verification code or update email!</a></p>
                          </div>
                          <div class="form-group">
                              <label>Enter OTP </label>

                              <div class="input-forms-resend">

                                  <div class="input-pin-code-div jpa">
                                      <input name="input_1" id="input_1" type="text"  (keypress)="numberOnly($event,'input_2')" [(ngModel)]="input_1" placeholder="0"  class="form-control single-number-input" maxlength="1" min="1">
                                      <input name="input_2" id="input_2" type="text"  (keypress)="numberOnly($event,'input_3')" [(ngModel)]="input_2" placeholder="0"  class="form-control single-number-input" maxlength="1" min="1">
                                      <input name="input_3" id="input_3" type="text"  (keypress)="numberOnly($event,'input_4')" [(ngModel)]="input_3" placeholder="0"  class="form-control single-number-input" maxlength="1" min="1">
                                      <div class="dash">

                                      </div>
                                      <input name="input_4" id="input_4" type="text"  (keypress)="numberOnly($event,'input_5')" [(ngModel)]="input_4" placeholder="0"  class="form-control single-number-input" maxlength="1" min="1">
                                      <input name="input_5" id="input_5" type="text"  (keypress)="numberOnly($event,'input_6')" [(ngModel)]="input_5" placeholder="0"  class="form-control single-number-input" maxlength="1" min="1">
                                      <input name="input_6" id="input_6" type="text"  (keypress)="numberOnly($event,'input_6')" [(ngModel)]="input_6" placeholder="0"  class="form-control single-number-input" maxlength="1" min="1">
                                  </div>


                              </div>
                          </div>
                          <div class="authentication-btn">
                              <a href="javascript:void(0)" id="submit_btn" (click)="onSubmit()"  class="btn btn-login btn-waves">Send OTP</a>

                          </div>
                      </form>

                  </div>


              </div>
          </div>
      </div>
  </div>
</section><!--  end of banner  -->
