<app-loader [formload]="formload" *ngIf="formload"></app-loader>
<section class="authntication-section">
  <div class="authntication-inner">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-xl-6 col-lg-6 col-md-8">
                  <div class="authntication-box-header">
                      <h2>Forgot password</h2>
                      <p>Don't have an account? <a href="javascript:void(0)" (click)="gotoRoute('sign-up')">Create an account</a></p>
                  </div>
                  <div class="authntication-box" *ngIf="step =='first'">
                      <form class="form sign-up__form" [formGroup]="forgotForm" (ngSubmit)="onSubmit(forgotForm.value)">
                          <div class="form-group forgot-password">
                              <label>Email</label>
                              <input type="text" class="form-control " [formControl]="forgotForm.controls['email']" name="email" value="" placeholder="Enter Email address"/>
							  <p class="text-danger" *ngIf="forgotForm.controls.email.invalid && (forgotForm.controls.email.dirty || forgotForm.controls.email.touched || submitted)">Email Address is required</p>
                          </div>
                          
                          <div class="authentication-btn">
						  <button type="submit" class="btn btn-login btn-waves">
                              REQUEST TO RESET PASSWORD
						  </button>	  
                          </div>
                      </form>

                  </div>
				  
				  <div class="authntication-box" *ngIf="step =='two'">
					  <p> One time password (otp) to reset your password has been sent to your registered email address.</p>	
                      <form class="form sign-up__form" [formGroup]="passForm" (ngSubmit)="onResetPassword(passForm.value)">
                          <div class="form-group">
                              <input class="form-control" [formControl]="passForm.controls['email']" type="text" name="email" value="" placeholder="Enter email address"
                                required>
                            <p class="text-danger" *ngIf="passForm.controls.email.invalid && (passForm.controls.email.dirty || passForm.controls.email.touched || submitteda)">Email Address is required</p>
                          </div>
						  <div class="form-group">
                              <label>OTP</label>
                              <input class="form-control" [formControl]="passForm.controls['otp']" type="text" name="otp" value="" placeholder="Enter Otp"
                                required>
                            <p class="text-danger" *ngIf="passForm.controls.otp.invalid && (passForm.controls.otp.dirty || passForm.controls.otp.touched || submitteda)">Otp is required</p>
                          </div>
						  <div class="form-group">
                              <label>New Password</label>
                              <input class="form-control" [formControl]="passForm.controls['password']" type="password" name="password" value="" placeholder="New Password">
                            <p class="text-danger" *ngIf="passForm.controls.password.hasError('required') && (passForm.controls.password.dirty || passForm.controls.password.touched || submitteda)">Password is required</p>
                            <p class="text-danger" *ngIf="passForm.controls.password.hasError('minlength') && (passForm.controls.password.dirty || passForm.controls.password.touched || submitteda)">Password must be 8 characters long</p>
                          </div>
						  <div class="form-group">
                              <label>Confirm New Password </label>
                              <input class="form-control" [formControl]="passForm.controls['confirm_password']" type="password" name="confirm_password"
                                value="" placeholder="Confirm password">
                            <p class="text-danger" *ngIf="passForm.controls.confirm_password.invalid && (passForm.controls.confirm_password.dirty || passForm.controls.confirm_password.touched || submitteda)">Confirm Password not match</p>
                          </div>
                          
                          <div class="authentication-btn">
						  <button type="submit" class="btn btn-login btn-waves">
                              RESET PASSWORD
						  </button>	  
                          </div>
                      </form>

                  </div>

				
                  <div class="authntication-box-footer">
                      <a *ngIf="step =='first'" href="javascript:void(0)" (click)="gotoRoute('sign-in')">Cick here to Login !</a>
                      <a *ngIf="step =='two'" href="javascript:void(0)" (click)="resend()" >Still not received Otp ? Resend OTP.</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
