<div id="wrapper" class="wrapper home-wrapper" *ngIf="curl != '/'">

	<header>
        <div class="header-div clearfix" >
            <div class="inner-top-header-div clearfix">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="header-container">

                                <div class="logo-div">
                                    <a class="logo_link clearfix" href="javascript:void(0)" (click)="gotoRoute('/',false)">
                                        <img src="assets/images/logo.png" class="img-fluid logo_img main-logo" alt="logo" />
                                    </a>
                                </div>

                                <nav class="nav-center-div">
                                    <div class="top-nav1">
                                        <div class="cd-shadow-layer"></div>
                                        <div class="nav-m-bar"><a onclick="openNav()" class="opennav" data-placement="bottom" title="" data-original-title="Menu">
                                            <i class="menu-bars"><img src="assets/images/icons/menu-white.svg" alt="menu" /></i></a>
                                        </div>
                                        <div class="nav-div clearfix" id="mySidenav" >
                                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
											
												
                                            <ul class="nav ullist-inline" id="nav-res" >
                                                <li><a href="javascript:void(0)" (click)="gotoRoute('features',false)" class="nav-link">FEATURES</a> </li>
												<li><a href="javascript:void(0)" (click)="gotoRoute('pricing',false)" class="nav-link">PRICING</a>
												<li><a href="javascript:void(0)" (click)="gotoRoute('blogs',false)" class="nav-link">BLOG</a></li>
												<li><a href="javascript:void(0)" (click)="gotoRoute('about',false)" class="nav-link">ABOUT</a></li>
                                                <li><a href="javascript:void(0)" (click)="gotoRoute('contact',false)" class="nav-link">CONTACT US</a></li>
                                                <li><a href="javascript:void(0)" (click)="gotoRoute('sign-in',false)" class="nav-link">LOGIN</a></li>
                                                <li>
                                                    <a href="javascript:void(0)" (click)="gotoRoute('sign-up',false)" class="nav-link btn-white-rounded">SIGN UP</a>
                                                </li>
											</ul>
                                        </div>
                                    </div>
                                </nav>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div><!--  End of header with navigation div  -->
    </header>

    <router-outlet></router-outlet>

</div>

<div id="wrapper" class="wrapper home-wrapper" *ngIf="curl == '/'">
	<app-landing></app-landing>
	
</div>
